.grid-content-container
  .row
    .col-lg-12
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span No Updates
        %span.vertical-bar|
        %span As Of
        %span.vertical-bar|
        %span Now
  .row
    .col-sm-5
      .grid-icon-container
        = image_tag "leadership_icon.png", alt: "Director", class: "grid-icon img-fluid hidden-sm-down"
    .col-sm-7
      %h1.sm-item-header.color-grid-text We'll have updates for you soon!
