%nav.text-xs-center#platform_sub_nav
  .nav-card#spotlight-card
    =link_to platform_path(@spotlight), class: "flex-container-nav card-link safari-only #{cp(@spotlight.slug)}" do
      %i.fa.fa-bomb.fa-4x.card-icon
      =image_tag "bulb.svg", class: "img-fluid"
      %h2.text-uppercase spotlight
  .nav-card#turbine-card
    =link_to platform_path(@turbine), class: "flex-container-nav card-link safari-only #{cp(@turbine.slug)}" do
      %i.fa.fa-bomb.fa-4x.card-icon
      =image_tag "pencil.svg", class: "img-fluid"
      %h2.text-uppercase turbine
  .nav-card#xanadu-card
    =link_to platform_path(@xanadu), class: "flex-container-nav card-link safari-only #{cp(@xanadu.slug)}" do
      %i.fa.fa-bomb.fa-4x.card-icon
      =image_tag "beaker.svg", class: "img-fluid"
      %h2.text-uppercase xanadu
  =link_to '#learn-more', class: "hidden-sm-down smooth-scroll" do
    .arrow-container.animated.fadeInDown
      .arrow-2
        %i.fa.fa-angle-down
      .arrow-1.animated.hinge.infinite.zoomIn
