%h3.text-uppercase #{@platform.slug} Videos
.row
  - @platform.videos.each do |video|
    .col-sm-6
      .video-card
        .video-image
          =image_tag video.image_preview_url, class: "card-img-top img-fluid", alt: video.name
          .card-img-overlay.text-xs-center
            =link_to "Play", video.embed_link, class: "platform-video-link", id: "#{video.name.parameterize}"
            %br
            =link_to "Share", video.direct_link, class: "platform-video-link", target: "_blank"
        .video-text.text-xs-center
          %p.text-xs-center= video.name
          =link_to(video.direct_link, class: "text-xs-center text-uppercase", target: "_blank") do
            %i.fa.fa-download
            %span DOWNLOAD
