.platforms
  .row
    .column-xs-12{height: '400px'}
      .col-xs-4{style: "margin: 0; padding: 0; height: 100%"}
        .platform{style: "background-color: red; height: 400px"}
          .background-2{style: "background-image: url(#{asset_path('backg.png')}); height: 100%; background-image: cover; background-position: center;"}
      .col-xs-4{style: "margin: 0; padding: 0"}
        .platform{style: "background-color: blue; height: 400px"}
          .background-2{style: "background-image: url(#{asset_path('backg.png')}); height: 100%; background-image: cover; background-position: center;"}
      .col-xs-4{style: "margin: 0; padding: 0"}
        .platform{style: "background-color: green; height: 400px"}
          .background-2{style: "background-image: url(#{asset_path('backg.png')}); height: 100%; background-image: cover; background-position: center;"}
