.embed-responsive.embed-responsive-21by9.embed-responsive-5by2
  %iframe(src="https://player.vimeo.com/video/224347370?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
