- title "All Hands"
#all-hands
  .container
    %header
      %h1 Q1 All Hands
    %section.image-slide-section
      .image-slide-wrapper
        %ul#slides
          %li.slide.showing
            Slide 1
          %li.slide
            Slide 2
          %li.slide
            Slide 3
          %li.slide
            Slide 4
          %li.slide
            Slide 5
        %button.controls#previous{type: "button"}
          .fa.fa-chevron-left
        %button.controls#next{type: "button"}
          .fa.fa-chevron-right
    %section.survey-embed
      %iframe#slidoapp{:height => "600", :src => "https://app.sli.do/event/fehsicjn/ask", :width => "100%"}
