- title "All Hands North America"
#all-hands
  %section.header-image-section
    .fake-lax-background-image
  .container
    %section.video-section
      %h2.text-center.mb-4 Watch the Q1 One Xaxis All Hands Presentation
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{:allowfullscreen => "", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/149429953?title=0&byline=0&portrait=0", :webkitallowfullscreen => "",}
    %section.survey-section
      %h2.text-center.mb-4 Survey
      %p.text-center.mb-5 Please take this quick survey!
      /[if lte IE 8]
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      %script{:charset => "utf-8", :src => "//js.hsforms.net/forms/v2.js", :type => "text/javascript"}
      :javascript
        hbspt.forms.create({
          portalId: '436935',
          formId: '169e12cd-425c-4c0e-aa43-08f4bf7af504'
        });
%section.event-photos-section
  .container-fluid
    %h2.text-center.mb-4 Event Photos
    - if @eventPhotos.exists?
      .photo-grid.bs-fake-row
        .photo-grid-sizer.col-12.col-sm-4.col-md-3
        - @eventPhotos.each_with_index do |photo, index|
          .photo-grid-item.col-12.col-sm-4.col-md-3
            =image_tag photo.image.medium, class: "single-event-photo img-fluid activate-modal", alt: photo.title, data: { index: index}
    - else
      %p.text-center No photos have been added yet.
= render partial: "partials/bs_modal", locals: {model_id: "eventPhotos"}
