- title "All Hands"
#all-hands
  .container
    %header.mt-5
      %h1 Q1 All Hands
    %section.image-slide-section
      .image-slide-wrapper
        %ul#slides
          %li.slide.showing
            Slide 1
          %li.slide
            Slide 2
          %li.slide
            Slide 3
          %li.slide
            Slide 4
          %li.slide
            Slide 5
        %button.controls#previous{type: "button"}
          .fa.fa-chevron-left
        %button.controls#next{type: "button"}
          .fa.fa-chevron-right
    %section.materials-section
      .brand-btn-primary.xaxis-btn-primary Download Deck
      .brand-btn-primary.xaxis-btn-primary Download Deck 2
    %section.video-section
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{:allowfullscreen => "", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/149429953?title=0&byline=0&portrait=0", :webkitallowfullscreen => "",}
    %section.survey-section
      /[if lte IE 8]
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      %script{:charset => "utf-8", :src => "//js.hsforms.net/forms/v2.js", :type => "text/javascript"}
      :javascript
        hbspt.forms.create({
          portalId: '436935',
          formId: '169e12cd-425c-4c0e-aa43-08f4bf7af504'
        });
%section.event-photos
  .container-fluid
    %h2.text-center.mb-4 Event Photos
    .photo-grid.bs-fake-row
      .photo-grid-sizer.col-12.col-sm-4.col-md-3
      - @eventPhotos.each_with_index do |photo, index|
        .photo-grid-item.col-12.col-sm-4.col-md-3
          =image_tag photo.image.medium, class: "single-event-photo img-fluid", alt: photo.title, data: { index: index}
-# Modal for Headshots
.modal.fade(id="eventPhotos" tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        %button(type="button" class="close photos-close" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
      .modal-body
        %img.event-photos.img-fluid{src: "data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E", alt: 'Placeholder', data: {photoId: ''}}
