- title "All Hands"
#all-hands
  = render partial: "video-bg"
<<<<<<< HEAD
  .container
    = render partial: "video"
    = render partial: "survey"
  .container-fluid
    = render partial: "event_photos"
=======
>>>>>>> updates all-hands page and adds partials
