- title "Expert Interview Hub"
%header
  #expert_interview_header
    .container
      %h1#expert_interview_title Expert Interview Hub
.container
  %p.exper-interview-intro
    The Expert Interviews Video Series is a ongoing production of interviews with experts across different aspects of our business and industry. They are designed to provide insights into where the industry is moving and how Xaxis is prepared to be ahead of it.
  - if !@main_video.nil? && !@rest_of_videos.nil?
    %main
      %section.main-video{id: @main_video.title.parameterize.truncate(20)}
        .col-xs-12.card
          .col-sm-10.offset-sm-1.col-xs-12.card-body
            .card-image
              .video
                %a.video-link{"data-target" => "#myModal", "data-title" => @main_video.title, "data-toggle" => "modal", "data-video-url" => @main_video.vimeo_url}
                  =image_tag @main_video.image.url, class: 'img-responsive'
                  .video-overlay
            .row
              .col-xs-12.col-sm-10.offset-sm-1.card-text
                .col-sm-4.col-xs-12.contributor-text
                  %p.contributor
                    Contributor:
                  %p.contributor-name
                    =@main_video.contributor_name
                  %p.contributor-title
                    =@main_video.contributor_title
                .col-sm-8.col-xs-12
                  .about-text
                    %h5.description-header
                      =@main_video.title
                    %p.description-text
                      =@main_video.description
      %section
        - @rest_of_videos.each do |video|
          .col-sm-6.col-xs-12.small-card
            .small-card-image
              .video
                %a.video-link{"data-target" => "#myModal", "data-title" => video.title, "data-toggle" => "modal", "data-video-url" => video.vimeo_url}
                  =image_tag video.image.fitting.url, class: 'img-responsive'
                  .video-overlay
            .small-card-body
              .row
                .col-xs-10.offset-xs-1
                  .contributor-text
                    %p.contributor
                      Contributor:
                    %p.contributor-name
                      =video.contributor_name
                    %p.contributor-title
                      =video.contributor_title
                  .about-text
                    %h6.description-header
                      =video.title
                    %p.description-text
                      =video.description
    = will_paginate @rest_of_videos, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
  - else
    %p.not-yet No Videos Yet!
#myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
      .modal-body
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:src => ""}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
