%header
  .opacity
  .logo.text-xs-center
    %img.logo-img{:src => asset_path("landing_pages/expert_interview_hub/play-arrow.png")}/
    %h1.text-xs-center Expert Interview Hub
.container
  %main
    %section.main-video
      .col-xs-12.card
        .col-sm-10.offset-sm-1.col-xs-12.card-body
          .card-image
            .video
              %a.video-link{"data-target" => "#myModal", "data-title" => "Making Data Smart: What It Means And Why It Matters", "data-toggle" => "modal", "data-video-url" => "//player.vimeo.com/video/187838940?autoplay=1&api=1"}
                %img.img-responsive{:src => asset_path("landing_pages/expert_interview_hub/video_thumbs/smart-data.png")}/
                .video-overlay
          .row
            .col-xs-12.col-sm-10.offset-sm-1.card-text
              .col-sm-4.col-xs-12.contributor-text
                %p.contributor
                  Contributor:
                %p.contributor-name
                  Nicole Pangis
                %p.contributor-title
                  Global COO, Xaxis
              .col-sm-8.col-xs-12
                .about-text
                  %p.description-header
                    Making Data Smart: What It Means And Why It Matters
                  %p.description-text
                    Have you ever asked, what makes data smart? Global COO, Nicolle Pangis has the answer for you! Between the differences and initiatives from big data to smart data, to how smart data impacts and benefits client campaigns, and the future of data
                    becoming smarter in our industry, this video will provide you with all you need to know on smart data as we move toward revolutionizing data use.
    %section
      .col-sm-6.col-xs-12.small-card
        .small-card-image
          .video
            %a.video-link{"data-target" => "#myModal", "data-title" => "A Conversation on Creative: The Convergence of Programmatic and Creativity", "data-toggle" => "modal", "data-video-url" => "//player.vimeo.com/video/178067899?autoplay=1&api=1"}
              %img.img-responsive{:src => asset_path('landing_pages/expert_interview_hub/video_thumbs/creativity.jpg')}/
              .video-overlay
        .small-card-body
          .row
            .col-xs-10.offset-xs-1
              .contributor-text
                %p.contributor
                  Contributor:
                %p.contributor-name
                  Dave J. Moore
                %p.contributor-title
                  Chairman of Xaxis &amp; President, WPP Digital
              .about-text
                %p.description-header
                  A Conversation on Creative: The Convergence of Programmatic and Creativity
                %p.description-text
                  With the recent occurrence of the Cannes Lions Festival, the industry focus went to the buzz-worthy topic of creativity. David J. Moore discusses this topic and its relevance to how it is converging with programmatic and the future that Dynamic
                  Creative Optimization in our industry.
      .col-sm-6.col-xs-12.small-card
        .small-card-image
          .video
            %a.video-link{"data-target" => "#myModal", "data-title" => "Achieving Real Outcomes: The New Light Reaction Story", "data-toggle" => "modal", "data-video-url" => "//player.vimeo.com/video/175274585?autoplay=1&api=1"}
              %img.img-responsive{:src => asset_path('landing_pages/expert_interview_hub/video_thumbs/achieving_real_outcomes.jpg')}/
              .video-overlay
        .small-card-body
          .row
            .col-xs-10.offset-xs-1
              .contributor-text
                %p.contributor
                  Contributor:
                %p.contributor-name
                  Bob Walczak
                %p.contributor-title
                  CEO, Light Reaction
              .about-text
                %p.description-header
                  Achieving Real Outcomes: The New Light Reaction Story
                %p.description-text
                  It’s an exciting time for Light Reaction as we move towards our new positioning of Real Outcomes, which combine proprietary media, data and technology at scale. CEO, Bob Walczak speaks to this new positioning, providing you with important information
                  about it and how you can integrate it into your Xaxis elevator pitch. Watch this video to learn all about real outcomes and understand how to position Light Reaction moving forward.
      .col-sm-6.col-xs-12.small-card
        .small-card-image
          .video
            %a.video-link{"data-target" => "#myModal", "data-title" => "Audiences Beyond Boundaries: The Xaxis and Google Partnership", "data-toggle" => "modal", "data-video-url" => "//player.vimeo.com/video/166802006?autoplay=1&api=1"}
              %img.img-responsive{:src => asset_path('landing_pages/expert_interview_hub/video_thumbs/audience_beyond_boundaries.jpg')}/
              .video-overlay
        .small-card-body
          .row
            .col-xs-10.offset-xs-1
              .contributor-text
                %p.contributor
                  Contributor:
                %p.contributor-name
                  Sarah Warner
                %p.contributor-title
                  VP, Investments &amp; Partnerships, Xaxis
              .about-text
                %p.description-header
                  Audiences Beyond Boundaries: The Xaxis and Google Partnership
                %p.description-text
                  Making the world flat by bringing Turbine Data into new environments has been a key Xaxis focus for 2016. Through the partnership between Xaxis, WPP and Google, we are now able to apply Turbine audience data to programmatically buy Google inventory
                  via DBM. Learn more about this partnership through the words of Sarah Warner, explaining all you need to know on this exciting news.
      .col-sm-6.col-xs-12.small-card
        .small-card-image
          .video
            %a.video-link{"data-target" => "#myModal", "data-title" => "comScore’s Audience Validation Audit and What It Means for Xaxis", "data-toggle" => "modal", "data-video-url" => "//player.vimeo.com/video/163831474?autoplay=1&api=1"}
              %img.img-responsive{:src => asset_path('landing_pages/expert_interview_hub/video_thumbs/turbine_predict_future.jpg')}/
              .video-overlay
        .small-card-body
          .row
            .col-xs-10.offset-xs-1
              .contributor-text
                %p.contributor
                  Contributor:
                %p.contributor-name
                  Jon Whitticom
                %p.contributor-title
                  VP, Product Development, Xaxis
              .about-text
                %p.description-header
                  comScore’s Audience Validation Audit and What It Means for Xaxis
                %p.description-text
                  Xaxis collaborated with comScore to conduct a global audit of Turbine audiences to access their predictive accuracy. Through this, we validated our ability to predict future consumer behavior through Turbine and have outpaced the competition in
                  similar studies by 20%. Why is this important? Jon Whitticom explains the significance of the comScore audit and how it impacts the future of Turbine for us and our clients.
#myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
      .modal-body
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:src => ""}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
