#signature_container.container
  %h1 Signature Generator
  %p Use the below form to create a GroupM Signature for your email.
  .row
    .col-md-6
      #signature_information_form
        %h3 Signature Form
        %p Start typing to create your form. Leave a field blank if you want to keep the default.
        %form#signature_form{:method => "post"}
          .form-group.row
            %label.col-sm-4.col-form-label.col-form-label-sm{:for => "first_name_input"} First Name
            .col-sm-8
              %input#first_name_input.field-input.form-control.form-control-sm{"data-target" => "first_name", :placeholder => "Donald", :type => "text"}/
          .form-group.row
            %label.col-sm-4.col-form-label.col-form-label-sm{:for => "last_name_input"} Last Name
            .col-sm-8
              %input#last_name_input.field-input.form-control.form-control-sm{"data-target" => "last_name", :placeholder => "Glover", :type => "text"}/
          .form-group.row
            %label.col-sm-4.col-form-label.col-form-label-sm{:for => "title_input"} Job Title
            .col-sm-8
              %input#title_input.field-input.form-control.form-control-sm{"data-target" => "job_title", :placeholder => "Chief Atlanta Star", :type => "text"}/
          .form-group.row
            %label.col-sm-4.col-form-label.col-form-label-sm{:for => "office_num_input"} Office Number
            .col-sm-8
              %input#office_num_input.field-input.form-control.form-control-sm{"data-target" => "sig_office_phone", :placeholder => "555.867.5309", :type => "tel"}/
          .form-group.row
            %label.col-sm-4.col-form-label.col-form-label-sm{:for => "mobile_num_input"} Mobile Number
            .col-sm-8
              %input#mobile_num_input.field-input.form-control.form-control-sm{"data-target" => "sig_mobile_phone", :placeholder => "555.842.3089", :type => "tel"}/
          .input-button.hidden-xs-up.form-group
            %input#form_submit_button.brand-btn-secondary.xaxis-btn-secondary.form-control{:type => "button", :value => "Generate"}/
    .col-md-6
      #generated_container
        %h3 Generated Preview
        %p Click inside this box, select all (command+A), and copy (command+C) the entire preview to use as your signature.
        %p You may need to do some adjusting of colors and spacing due to Outlook's settings.
        #generated_signature_block.generated_signature_block{:contenteditable => "true"}
          .copy_area{:style => "font-family: Arial, sans-sirif; color: #0A2756; line-height: normal;"}
            %h1#full_name.full_name{:style => "margin-bottom: 0;font-size: 20px;color: #3B6E8F;"}
              %span#first_name.first_name{:style => "margin-bottom: 0;font-size: 20px;color: #0080FF;"} Freddie
              %span
              %span#last_name.last_name{:style => "margin-bottom: 0;font-size: 20px;color: #0080FF;"} Prince Jr.
            %p{:style => "font-size: 12px;margin: 0;"}
              %span#job_title.job_title{:style => "margin-top: 0;"} Global Prince
            %p{:style => "font-size: 12px;margin: 0;"}
              %img.signature-logo{:alt => "GroupM Logo", :src => "https://s3.amazonaws.com/email-logos-xaxis/groupm_logo_small_email_red_100.png", :style => "width: 100px;height: auto;margin-top: 15px;margin-bottom: 15px;"}/
            #address_and_phone
              %p#address_street{:style => "font-size: 12px;margin: 0;"} 498 7th Avenue
              %p#address_city_state_zip{:style => "font-size: 12px;margin: 0;"} New York, NY 10018
              %p{:style => "font-size: 12px;margin: 0;"}
                Office: +
                %span#sig_office_phone>212.234.8181
              %p#mobile_section{:style => "font-size: 12px;margin: 0;"}
                Mobile: +
                %span#sig_mobile_phone>212.234.2391
            %table{style: "width: 175px; margin-top: 15px;"}
              %tr
                %td
                  %a{:href => "https://twitter.com/groupmworldwide", :style => "font-size: 12px;", :target => "_blank"} Twitter
                %td
                  %a{:href => "https://www.linkedin.com/company-beta/3765?pathWildcard=3765", :style => "font-size: 12px;", :target => "_blank"} LinkedIn
                %td
                  %a{:href => "https://groupm.com", :style => "font-size: 12px;", :target => "_blank"} Website
