- title "Smart Kapp"
#smart_kapp_container
  %header
    #smart_kapp_header
      .container
        %h1#smart_kapp_title SMART kapp
        %p Host video conferences. Brainstorm on a whiteboard. Work on standard office applications.
        =button_to "View One Sheeter"
  %section#get-started-section
    .container
      .get-started
        %h2 Get Started
        %p SMART makes sharing ideas with your colleagues around the world as natural as meeting over coffee. They can be found in these conference rooms:
        .row
          .col-sm-3
            %h3 Steve Jobs
            %p 9th floor
            %p Smart Kapp 42"
          .col-sm-3
            %h3 Steve Jobs
            %p 9th floor
            %p Smart Kapp 42"
          .col-sm-3
            %h3 Steve Jobs
            %p 9th floor
            %p Smart Kapp 42"
          .col-sm-3
            %h3 Steve Jobs
            %p 9th floor
            %p Smart Kapp 42"
      .what-you-need
        %h2 What You Need
        %p Download the app so you can you can pass ideas back and forth between mobile devices, PCs, and interactive displays as fast as you can think of them.
        .row
          .col-sm-4
            =image_tag "http://placehold.it/32/32"
            %h3 Smart Kapp Board
            %p
              Kapp 42"
              %br
              or Kapp IQ
          .col-sm-4
            =image_tag "http://placehold.it/32/32"
            %h3 Smart Kapp Board
            %p
              Kapp 42"
              %br
              or Kapp IQ
          .col-sm-4
            =image_tag "http://placehold.it/32/32"
            %h3 Smart Kapp Board
            %p
              Kapp 42"
              %br
              or Kapp IQ
        %p Please ONLY use the following pens when you write on the board
        %p (remember, if you write too small, the board won't pick up):
        %ul
          %li BIC® Magic Marker® dry erase liquid markers, fine tip
          %li Expo® low odor fine tip dry erase markers
          %li Staples® Remarx™ dry erase markers, bullet tip
          %li Melissa & Doug® dry erase markers
        %h4 You CANNOT use a dry erase on the Kapp IQ; please use the provided stylus
        %p Please clean the board when you're done. You can use the following to clean the board:
        %ul
          %li Water
          %li Dry erase cleaners
          %li EXPO® Whiteboard Care Cleaner
          %li Windex® glass cleaner (for SMART kapp 42 only)
        %h4 After you're done using the board, please leave it at it's original place so it doesn't go missing!
  %section#action-section
    .container
      %h2 See It In Action
      #video-container
        %video
  %section#resources-section
    %h2 Additional Resources
    %p Find additional manuals and tutorials from SMART Kapp’s website, if you still have questions, just email marketing!
    .row
      .col-sm-4
        =image_tag "http://placehold.it/32/32"
        %h3 Smart Kapp Board
        %p
          Kapp 42"
          %br
          or Kapp IQ
      .col-sm-4
        =image_tag "http://placehold.it/32/32"
        %h3 Smart Kapp Board
        %p
          Kapp 42"
          %br
          or Kapp IQ
      .col-sm-4
        =image_tag "http://placehold.it/32/32"
        %h3 Smart Kapp Board
        %p
          Kapp 42"
          %br
          or Kapp IQ
