- title "Xaxapalooza"
.container
  .section.mt-4.mb-4
    %h1.text-center.mb-4 Xaxapalooza!
    %p.text-center Here are the photos from the first annual and totally awesome Xaxapalooza. Special thanks to RTJ for coming out.
= render partial: "event_photos"
