@import "../vars"
@import "../bootstrap.v3.min.css"
@import "../fonts"
@import "../footer"

html
  width: 100vw
  overflow-x: hidden

*
  font-family: 'Gotham-Book', arial, sans-serif
  color: #484848 !important
  line-height: 2

body
  background-color: #f6f6f6


.disclaimer
  font-family: 'Gotham-BookItalic'
  color: #3b6e8f !important

.disclaimer.top-disclaimer
  position: relative
  z-index: 9999
  top: 65px
  .pull-right
    margin-right: 10%

header
  position: absolute
  top: 0
  left: 0
  background-image: url(asset_path('landing_pages/expert_interview_hub/background.jpg'))
  background-size: cover
  background-position: top center
  height: 100vh
  width: 117vw
  z-index: 0

.opacity
  background-color: #fff
  opacity: .5
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%

header .logo
  width: 100vw
  position: absolute
  top: 250px
  img
    margin: 0 auto
    width: 100px
  h1
    font-family: 'Gotham-Medium'
    color: #00AFEF !important

main
  margin-top: 475px

.img-responsive
  width: 100%
  max-width: 100%

main .main-video .card
  background: white
  padding: 0
  margin-bottom: 80px
  border-radius: 6px
  .card-body
    padding-top: 10%
    padding-bottom: 10%
    .card-text
      padding-top: 40px

.small-card
  padding: 0
  margin-bottom: 40px
  .small-card-body
    padding-top: 40px
    padding-bottom: 40px
    background-color: #FFF
  .contributor
    font-family: 'Gotham-Light'
    font-size: 14px
    color: #808080

.card .contributor
  font-family: 'Gotham-Light'
  font-size: 14px
  color: #808080

.small-card .contributor-title, .card .contributor-title
  font-family: 'Gotham-Light'
  font-size: 14px
  color: #4A82A0 !important

.small-card .contributor-name, .card .contributor-name
  font-family: 'Gotham-Medium'
  font-size: 14px
  color: #4A82A0 !important

.small-card-image
  height: 100%

.video
  position: relative
  height: 100%
  padding-bottom: 55.75%
  .video-link
    img
      position: absolute
    .video-overlay
      position: absolute
      top: 50%
      transform: translateY(-50%)
      background-color: rgba(0, 0, 0, 0.2)
      height: 100%
      width: 100%
      background-size: 20%
      background-repeat: no-repeat
      background-position: center
      background-image: url(asset_path('landing_pages/expert_interview_hub/play-overlay.png'))
      cursor: pointer

.contributor-text
  p
    padding-bottom: 0
    margin-bottom: 0
    line-height: 1.6
  margin-bottom: 40px

.small-card .description-header, .card .description-header
  font-family: 'Gotham-MediumItalic'
  font-size: 24px
  line-height: 1.5
  color: #989898 !important

.small-card .description-text, .card .description-text
  font-family: 'Gotham-Light'
  font-size: 14px
  color: #1E3646 !important

.padding-margin-bottom-none
  padding-bottom: 0
  margin-bottom: 0

.not-yet
  position: relative
  text-align: center

@media (min-width: 767px)
  .small-card
    &:nth-child(odd)
      padding-right: 20px
    &:nth-child(even)
      padding-left: 20px
    img
      border-top-left-radius: 6px
      border-top-right-radius: 6px
    .small-card-body
      border-bottom-left-radius: 6px
      border-bottom-right-radius: 6px
