- yield "Latest Updates"
.container#posts-index
  .row.container-row
    .col-sm-3.hidden-sm-down
      .sidebar
        .section-container
          .header.text-uppercase
            Categories
          %ul.sidebar-list.categories-list
            - @all_tags.each do |tag|
              %li.sidebar-list-item.categories-list-item
                =link_to tag, tag_path(tag.downcase)
    .col-md-9.col-xs-12
      #news-container.section-container
        .section-name#news-section
          %h1.header.text-uppercase
            Latest
          = sortable "updated_at", "Sort"
        %ul.list-group.news-articles-list
          - @posts.includes(:tags).each do |post|
            %li.list-group-item.news-articles-list-item
              .row
                .news-article-date
                  .news-article-date_day
                    =post.day_only
                  .news-article-date_month_year
                    =post.month_year_only
                .news-article-content
                  %p.news-article-tags
                    Tags:
                    = raw post.get_tag_list.map { |tag| link_to tag, tag_path(tag.downcase) }.join(', ')
                  %h1.news-article-title=link_to post.title, post_path(post)
                  %p.news-article-text= post.medium_teaser

        = will_paginate @posts, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
