-# Modal for Headshots
.modal.fade(id="#{model_id}" tabindex="-1" role="dialog")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        %button(type="button" class="close bs-modal-close" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
      .modal-body
        %img.img-fluid{src: "data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E", alt: 'Placeholder', data: {photoId: ''}, class: "modal-image"}
