%nav.navbar.navbar-fixed-top.navbar-light.bgg-faded
  .container
    .nav.navbar-nav
      =link_to root_path, class: "navbar-brand" do
        =image_tag asset_path('Xaxis_Logo_Pos_Vert.png'), id: "navbar-logo"
      =link_to "Assets", brands_path, class: "nav-item nav-link"
      =link_to "News", "###", class: "nav-item nav-link"
      =link_to "Products & Platforms", "###", class: "nav-item nav-link"
      =link_to "###", id: "search-button", class: "nav-item nav-link pull-lg-right" do
        %span.fa.fa-search
