#presentation_hub
  %section.top-section
    .container
      %h1 Global Presentation Resource Center
      .row
        .col-lg-3.col-md-6
          .card.xaxis-card
            %h2.text-uppercase Xaxis
            %p Templates
            -# %button.card-btn.brand-btn-primary.xaxis-btn-primary Powerpoint
            =link_to "powerpoint", @xaxis.brand_accessories.where(category: "ppt_template").last.file_url, class: "card-btn brand-btn-primary xaxis-btn-primary"
            =link_to "word doc", @xaxis.brand_accessories.where(category: "word_template").last.file_url, class: "card-btn brand-btn-primary xaxis-btn-primary"
            .hr-faker
            %p 2016 Xaxis Global Capabilities Deck
            =link_to "download", @xaxis.brand_accessories.where(category: "capability").last.file_url, class: "card-btn brand-btn-primary xaxis-btn-primary"
        .col-lg-3.col-md-6
          .card.light-reaction-card
            %h2.text-uppercase Light Reaction
            %p Templates
            =link_to "powerpoint", @light_reaction.brand_accessories.where(category: "ppt_template").last.file_url, class: "card-btn brand-btn-primary light-reaction-btn-primary"
            =link_to "word doc", @light_reaction.brand_accessories.where(category: "word_template").last.file_url, class: "card-btn brand-btn-primary light-reaction-btn-primary"
            .hr-faker
            %p 2016 Light Reaction Global Capabilities Deck
            =link_to "download", @light_reaction.brand_accessories.where(category: "capability").last.file_url, class: "card-btn brand-btn-primary light-reaction-btn-primary"
        .col-lg-3.col-md-6
          .card.plista-card
            %h2 plista
            %p Templates
            =link_to "powerpoint", @plista.brand_accessories.where(category: "ppt_template").last.file_url, class: "card-btn brand-btn-primary plista-btn-primary"
            =link_to "word doc", @plista.brand_accessories.where(category: "word_template").last.file_url, class: "card-btn brand-btn-primary plista-btn-primary"
            .hr-faker
            %p 2016 plista Global Capabilities Deck
            =link_to "download", @plista.brand_accessories.where(category: "capability").last.file_url, class: "card-btn brand-btn-primary plista-btn-primary"
        .col-lg-3.col-md-6
          .card.triad-card
            %h2.text-uppercase triad
            %p Templates
            =link_to "powerpoint", @triad.brand_accessories.where(category: "ppt_template").last.file_url, class: "card-btn brand-btn-primary triad-btn-primary"
            =link_to "word doc", @triad.brand_accessories.where(category: "word_template").last.file_url, class: "card-btn brand-btn-primary triad-btn-primary"
            .hr-faker
            %p 2016 triad Global Capabilities Deck
            =link_to "download", @triad.brand_accessories.where(category: "capability").last.file_url, class: "card-btn brand-btn-primary triad-btn-primary"
  %section.middle-section
    .container
      .row
        .col-sm-4
          .more-resources.image-bank
            = image_tag "image-bank.svg", alt: "Image Bank", class: "img-fluid"
            %h2.text-uppercase image bank
            %p Download the entire image bank onto your computer here, or access them on Xperience
            %p.subtitle Note: this is a large file, please do not download on mobile
            =link_to "download", @global_accessory.file_url, class: "card-btn brand-btn-secondary xaxis-btn-secondary"
        .col-sm-4
          .more-resources.tutorial
            = image_tag "graph-grey.svg", alt: "Reduce File Size", class: "img-fluid"
            %h2.text-uppercase tutorial
            %p File size is too big? Learn how to reduce file size by compressing the images.
            =link_to "watch", "https://vimeo.com/xaxis/review/172765382/5e868fcd40", target: "_blank", class: "card-btn brand-btn-secondary xaxis-btn-secondary"
        .col-sm-4
          .more-resources.custom
            = image_tag "pencil-stencil.svg", alt: "Custom Images", class: "img-fluid"
            %h2.text-uppercase custom
            %p Need something else? You can make a request for the images you may need to Xaxis Global Marketing Team below.
            =link_to "email us", "https://goo.gl/forms/1OiT5qUAX3phIZmu2", target: "_blank", class: "card-btn brand-btn-secondary xaxis-btn-secondary"
  %section.bottom-section
    %h2 Need additional brand assets?
    =link_to "See All Brand Assets", brand_path(@bring_me_to_xaxis), class: "text-uppercase brand-btn-secondary xaxis-btn-secondary"
