#error_container
  .container
    .row
      .col-sm-6
        .error-img
          =image_tag '/images/oops.png', class: 'img-fluid'
        .error-code
          %p The page does not exist.
          %p Error code: 404
        .error-links
          %ul.error-list
            %li Maybe try these links:
            %li.error-item
              =link_to "Home", root_path, class: "error-link"
            %li.error-item
              =link_to "Brand Assets",brand_path(@xaxis), class: "error-link"
            %li.error-item
              =link_to "Learning Hub", expert_interview_hub_url, class: "error-link"
            %li.error-item
              =link_to "Presentations", presentation_hub_url, class: "error-link"
      .col-sm-6
        .eka-img
          =image_tag '/images/eka.png', class: 'img-fluid balloon'
