%h3.text-uppercase #{@brand.name} color palette
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in v
%h4.color-category Primary Colors
.row
  .col-md-4
    .color-card
      .color-card-top#dark-blue
      .color-card-bottom
        %h6.color-card-title Dark Blue
        %p.color-card-text #3B6E8F
        %p.color-card-text rgb (59, 110, 143)
  .col-md-4
    .color-card
      .color-card-top#xaxis-blue
      .color-card-bottom
        %h6.color-card-title Xaxis Blue
        %p.color-card-text #00AFEF
        %p.color-card-text rgb (0, 175, 239)
  .col-md-4
    .color-card
      .color-card-top#baby-blue
      .color-card-bottom
        %h6.color-card-title Baby Blue
        %p.color-card-text #8CD2F4
        %p.color-card-text rgb (140, 210, 244))
%h4.color-category Secondary Colors
.row
  .col-md-4
    .color-card
      .color-card-top#dark-green
      .color-card-bottom
        %h6.color-card-title Dark Green
        %p.color-card-text #00A77E
        %p.color-card-text rgb (0, 167, 126)
  .col-md-4
    .color-card
      .color-card-top#light-green
      .color-card-bottom
        %h6.color-card-title Light Green
        %p.color-card-text #99CA3C
        %p.color-card-text rgb (153, 202, 60)
  .col-md-4
    .color-card
      .color-card-top#xaxis-orange
      .color-card-bottom
        %h6.color-card-title Orange
        %p.color-card-text #F6891F
        %p.color-card-text rgb (246, 137, 31)
%h4.color-category Neutral Colors
.row
  .col-md-4
    .color-card
      .color-card-top#dark-gray
      .color-card-bottom
        %h6.color-card-title Dark Gray
        %p.color-card-text #636466
        %p.color-card-text rgb (99, 100, 102)
  .col-md-4
    .color-card
      .color-card-top#reg-gray
      .color-card-bottom
        %h6.color-card-title Gray
        %p.color-card-text #939598
        %p.color-card-text rgb (0, 175, 239)
  .col-md-4
    .color-card
      .color-card-top#light-gray
      .color-card-bottom
        %h6.color-card-title Light Gray
        %p.color-card-text #C7C8CA
        %p.color-card-text rgb (0, 175, 239)
- if @brand.brand_accessories.has_category("palette").present?
  = link_to "download color palette", @brand.brand_accessories.has_category("palette").last.file_url, class: "brand-btn-primary #{@brand.slug}-btn-primary"
