-if @case_studies.any?
  %ul.case_studies_list
    - @case_studies.last(3).each do |case_study|
      %li.case_studies_list-item
        .case-study-subtitle
          Case Study
          |
          =case_study.platform.name
          |
          =case_study.author
          |
          =case_study.get_pretty_release_date
        .case-study-title
          %h3=case_study.title
        .case-study-description
          =case_study.short_description
        .case-study_links
          = link_to "View PDF", case_study.pdf_attachment_url, class: 'brand-btn-secondary xaxis-btn-secondary'
          = link_to "Download PDF", case_study.pdf_attachment_url, class: 'brand-btn-primary xaxis-btn-primary', download: case_study.title
-else
  No Case Studies Available For This Brand Yet
