.row.col-xs-12
  -if @case_studies.any?
    %ul.case_studies_list
      - if params[:platform_id] || action_name != 'index'
        - @case_studies.last(10).each do |case_study|
          = render partial: 'case_study_item', locals: {case_study: case_study}
      - else
        - @case_studies.where(platform_id: platform.id).last(3).each do |case_study|
          = render partial: 'case_study_item', locals: {case_study: case_study}
  -else
    No Case Studies Available For This #{action_name == 'search' ? "Search Criteria" : "Platform"}.
-if include_pagination
  .row
    .col-xs-12
      = will_paginate @case_studies, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
