.case-studies-filters.jumbotron
  = form_for :case_studies_query, url: case_studies_search_path, method: :get do |f|
    .row.form-row-1
      .col-sm-4
        =f.label :industry, class: 'sr-only'
        - if params[:case_studies_query]
          - industry = params[:case_studies_query][:industry]
          - region = params[:case_studies_query][:region]
          - product = params[:case_studies_query][:product]
          - keywords =  params[:case_studies_query][:keywords]
        - else
          - industry = nil
          - region = nil
          - product = @platform ? @platform.slug : nil
        =f.select :industry, options_for_select(CaseStudy.get_industry_tags_for_select, industry),
          {include_blank: false},
          {class: 'select2 form-control', multiple: true, placeholder: "Select Industries"}
      .col-sm-4
        =f.label :region, class: 'sr-only'
        =f.select :region, options_for_select(CaseStudy.get_region_tags_for_select, region),
          {include_blank: false}, {class: 'select2 form-control', placeholder: "Select Regions", multiple: true}
      .col-sm-4
        =f.label :product, class: 'sr-only'
        =f.select :product, options_from_collection_for_select(Platform.all, :slug, :name, product),
          {include_blank: "select a product"}, {class: 'select2 form-control', multiple: true, placeholder: "Select Products"}
    .row
      .col-sm-8
        .form-group
          =f.label :keywords, class: 'sr-only'
          =f.text_field :keywords, placeholder: "Search by keyword, (E.g. automative, APAC turbine)", value: keywords, class: 'form-control'
      .col-sm-4
        .form-group
          =f.submit "Search", class: 'brand-btn-secondary xaxis-btn-secondary search-button'
