#main-page
  #color_grid_container
    = render partial: "partials/color_grid"
  .container#main-content
    .row
      .col-sm-10.offset-sm-1
        = render partial: "partials/recent_news"
  = render partial: "partials/social"
