/**************  List of Helpers For CSS  ***************/
$font-size: 14px
$line-height: 1.57
$lines-to-show: 3


.bs-fake-row
  margin-left: -15px
  margin-right: -15px

.vertical-bar
  padding-left: 5px
  padding-right: 5px

.keep-pretty-text
  display: block
  /* Fallback for non-webkit */
  display: -webkit-box
  height: $font-size*$line-height*$lines-to-show
  /* Fallback for non-webkit */
  // margin: 0 auto
  font-size: $font-size
  line-height: $line-height
  -webkit-line-clamp: $lines-to-show
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis

.keep-pretty-text-high
  max-height: 5.5em
  overflow: hidden
  text-overflow: ellipsis

//Brand specific buttons. Base class name is "#{@brand.slugh}-btn-primary"

.brand-btn-primary
  border-radius: 100px
  color: $white
  font-size: .8em
  padding: 8px 14px
  text-transform: uppercase
  border: 1px solid transparent
  transition: all .1s
  letter-spacing: 2px
  @include Gotham-Medium
  display: inline-block
  &:hover, &:active
    color: $white

.brand-btn-secondary
  border-radius: 100px
  background: $white
  font-size: .8em
  padding: 8px 14px
  text-transform: uppercase
  border: 1px solid $white
  transition: all .1s
  letter-spacing: 2px
  @include Gotham-Medium
  display: inline-block

.brand-btn-transparent
  border-radius: 100px
  background: transparent
  font-size: .8em
  padding: 8px 14px
  text-transform: uppercase
  border: 2px solid $white
  transition: all .1s
  letter-spacing: 2px
  @include Gotham-Bold
  display: inline-block
  color: $white

.brand-btn-primary:hover, .brand-btn-secondary:hover, .brand-btn-transparent:hover
  opacity: .5
  text-decoration: none

.animation-btn-secondary
  border-radius: 100px
  background: transparent
  font-size: .8em
  padding: 8px 14px
  text-transform: uppercase
  transition: all .1s
  letter-spacing: 2px
  @include Gotham-Medium
  display: inline-block
  text-align: center

.xaxis-btn-primary
  background: $xaxis-blue-color

.light-reaction-btn-primary
  background: $light-reaction-yellow-color

.plista-btn-primary
  background: $plista-green-color

.triad-btn-primary
  background: $triad-blue-color

.xaxis-btn-secondary
  color: $xaxis-blue-color
  border: 1px solid $xaxis-blue-color
  &:hover, &:active
      color: $xaxis-blue-color

.light-reaction-btn-secondary
  color: $light-reaction-yellow-color
  border: 1px solid $light-reaction-yellow-color
  &:hover, &:active
    color: $light-reaction-yellow-color

.plista-btn-secondary
  color: $plista-green-color
  border: 1px solid $plista-green-color
  &:hover, &:active
      color: $plista-green-color

.triad-btn-secondary
  color: $triad-blue-color
  border: 1px solid $triad-blue-color
  &:hover, &:active
      color: $triad-blue-color

.all-gray-btn-secondary
  color: $grey
  border: 1px solid $grey

.btn-back
  box-shadow: inset 0 0 0 0 $xaxis-blue-color
  -webkit-transistion: all ease 0.8s
  -moz-transition: all ease 0.8s
  transition: all ease 0.8s
  &:active, &:visited
    color: $xaxis-blue-color

.btn-back:hover
  box-shadow: inset -200px 0 0 0 $xaxis-blue-color
  color: $white

.double-horizontal-btn
  margin-right: 16px

// Forces images to exapnd to their full potential regardless of size of image.
.img-fluid-width
  width: 100%

.subtitle
  font-size: .7rem
