/**************  List of Helpers For CSS  ***************/

.vertical-bar
  padding-left: 5px
  padding-right: 5px

//Brand specific buttons. Base class name is "#{@brand.slugh}-btn-primary"

.brand-btn-primary
  border-radius: 100px
  color: $white
  font-size: .8em
  padding: 12px 12px
  text-transform: uppercase
  border: 1px solid transparent
  transition: all .1s
  letter-spacing: 1px

.brand-btn-primary:hover
  color: $white
  opacity: .8

.xaxis-btn-primary
  background: $xaxis-blue-color

.light-reaction-btn-primary
  background: $light-reaction-yellow-color

.plista-btn-primary
  background: $plista-green-color

.triad-btn-primary
  background: $triad-blue-color

// Forces images to exapnd to their full potential regardless of size of image.
.img-fluid-width
  width: 100%
