//color palette
$xaxis-darkest-blue: #1E3646
$xaxis-darker-blue: #006298
$xaxis-grey-blue: #3B6E8F     // main page grid
$xaxis-blue-color: #00AFEF    // main page grid
$xaxis-light-blue: #00BCE4
$xaxis-lighter-blue: #44ADDE
$xaxis-lightest-blue: #8CD2F4  // main page grid
$xaxis-deep-green: #00A77E     // main page grid
$xaxis-medium-green: #39B54A
$xaxis-light-green: #99CA3C    // main page grid
$xaxis-orange: #F6891F         // main page grid
$xaxis-burnt-orange: #F37920   // Light Reaction
$xaxis-dark-yellow: #FDC91F
$xaxis-yellow: #FFCB08
$xaxis-light-yellow: #FFD600   // main page grid and Light Reaction
$xaxis-lighter-red: #E72C2A    // Light Reaction
$xaxis-red: #E52118

// gradient light blue: rgba(178, 226, 250, 1)
//  gradient medium blue: rgba(144, 206, 237, 1)
// gradient dark blue: rgba(117, 184, 224, 1)

// Grey Variables
$black: #000000
$onyx: #0F0F0F
$dark-lava: #383838
$outer-space: #484848
$dim-gray: #606060
$gray: #808080
$taupe-gray: #909090
$manatee: #989898
$silver: #C0C0C0
$timberwolf: #D8D8D8
$platinum: #E4E4E4
$anti-flash-white: #F1F1F1
$white-smoke: #F8F8F8
$splashed-white: #FCFCFC
$grey-green-thing: #A8A8A8

$light-reaction-yellow-color: #FFD600  // Light Reactio

$plista-green-color: #37AA32    //  plista

$triad-blue-color: #0089CF      // Triad

// titles, body copy
$darkest-gray: #383838
$dark-grey: #636466
$main-body-font-color: $xaxis-darkest-blue
$regular-grey: #939598
$light-grey: #c7c8ca


//navbar
$nav-black: $onyx
$grey: #989898
$lightest-grey: #D8D8D8
$more-lightest-grey: #FAFAFA

//alternate background colors
$alternate-white: #FCFCFC
$white: #fff
$light-grey-bg: $white-smoke


$primary-color: $darkest-gray
$btn-primary-bg: $xaxis-blue-color
$size-sm: 845px

$footer-link-color: #1D3647
$footer-border-color: #EFEFEF
/////// Variables
//// Xaxis
// $cyan: #00AFEF
// $msu-green: #1E3646
// $teal-blue: #3B6E8F
// $baby-blue: #8CD2F4
// $green: #00A77E
// $yellow-green: #99CA3C
// $carrot-orange: #F6891F

//// Light Reaction
// $gold: #FFD600
// $mikado-yellow: #FCB813
// $pumpkin: #F37920
// $alizarin-crimson: #E72C2A
// $maya-blue: #62B5E5
// $rich-electric-blue: #0090DA
// $medium-persian-blue: #006298

//// plista
// $lime-green: #37AA32
// $manatee: #9C9C9C
// $outer-space: #484847
// $celestial-blue: #43ADDE
// $lust: #E51218
// $mikado-yellow: #FDC91F

//// Carolina
// $rich-electric-blue: #0089CF
// $dark-midnight-blue: #00385E
// $cyan: #00BFE6
// $outer-space: #43525A
// $yellow-green: #92C83E
// $pear: #CECC2A
// $bronze: #CC8029
