// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "vars";
// $skinLogo: url("horiz_tiny.png") no-repeat 0 0;
$skinActiveColor: $xaxis-blue-color;
$skinHeaderBck: #002744;
$panelHeaderBck: #002744;
@import "active_skin";
@import "tagsinput";
@import "select2";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
  // .status_tag { background: #6090DB; }

h1.site_title {
  background: none !important;
  padding-left: inherit !important;
  text-indent: 0 !important;
 }

.admin_show_image {
  max-width: 100%;
  height: auto;
}

.subtitle {
  border: 1px dashed $xaxis-light-green;
  text-align: center;
  padding: 2px
}

.tagsinput{
  width: calc(80% - 22px) !important;
  .tag{
    background-color: $xaxis-blue-color !important;
    color: $splashed-white !important;
    border: 1px solid $xaxis-blue-color !important;
    a{
      color: $splashed-white !important;
    }
  }
  input{
    width: auto !important;
  }
}

.select2{
  width: calc(80% - 22px) !important;
}

.size-bad{
  color: red !important;
}
