// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "vars";
// $skinLogo: url("horiz_tiny.png") no-repeat 0 0;
$skinActiveColor: $xaxis-blue-color;
$skinHeaderBck: #002744;
$panelHeaderBck: #002744;
@import "active_skin";
@import "tagsinput";
@import "select2";
@import "font-awesome";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
// .status_tag { background: #6090DB; }

.site_title {
  background: none !important;
  padding-left: inherit !important;
  text-indent: 0 !important;
}

#titlebar_left {
  #page_title {
    max-width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.admin_show_image {
  max-width: 100%;
  height: auto;
}

.subtitle {
  border: 1px dashed $xaxis-light-green;
  text-align: center;
  padding: 2px
}

.tagsinput{
  width: calc(80% - 22px) !important;
  .tag{
    background-color: $xaxis-blue-color !important;
    color: $splashed-white !important;
    border: 1px solid $xaxis-blue-color !important;
    a{
      color: $splashed-white !important;
    }
  }
  input{
    width: auto !important;
  }
}

.select2{
  width: calc(80% - 22px) !important;
}

.size-bad{
  color: red !important;
}

.mobile-nav {
  display: none;
  background: $white;
  color: $xaxis-blue-color;
  float: right;
  padding: 10px 30px;
  border: 2px solid;
  text-shadow: none;
  transition: all .5s ease;
  &:hover, &:active {
    background: $lightest-grey;
    background-color: $lightest-grey !important;
    background-image: none !important;
    cursor: pointer;
    color: $white;
  }
}

// Styles for Nested inputs
form fieldset.inputs ol > .nested-input li label {
  padding-top: 7px;
  text-transform: uppercase
}

form fieldset ol > .nested-input li label {
  display: block;
  width: 20%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5E6469;
}

form fieldset ol > .nested-input li .inline-hints{
  font-size: 0.95em;
  font-style: italic;
  color: #666;
  margin: 0.5em 0 0 20%;
}

.ml-aa-ten {
  margin-left: 10px;
}


@media (max-width: 767px) {

  .mobile-nav {
    display: block;
  }

  #header {
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
      padding: 10px;
    }

    h1.site_title {
      padding-left: 0;
      text-align: center;
      margin-right: 0;
      a {
        float: left;
      }
    }

    #tabs {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 300px;
      align-content: space-between;
    }

    #utility_nav {
      display: flex;
      justify-content: space-around;
      height: 40px;
      align-items: center;
    }
  }


  #title_bar {
    display: flex;
    flex-direction: column;
    #titlebar_left {
      height: auto;
      display: block;
    }
    #titlebar_right {
      text-align: left;
      height: auto;
      display: block;
      .action_items {
        display: flex;
        flex-direction: column;
        .action_item {
          margin: 5px 0;
          width: 100%;
          a {
            box-sizing: border-box;
            width: 100%;
          }
        }
      }
    }
  }

  #main_content_wrapper {
    float: none;
    #main_content {
      margin-right: 0 !important;
    }
  }
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  #sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  #tabs {
    display: table-cell !important;
  }
}

form fieldset > ol > li fieldset ol li {
  clear: none;
}

.create_another ~ label {
  width: 80%;
}

.seperator {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5E6469;
  border-left: 3px solid #5E6468;
}

form fieldset.inputs legend {
  border-bottom: none;
  position: absolute;
  top: 0;
}
