// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-nav-section
  margin: 60px 0

#sub-nav
  .sub-links
    font-family: gotham-book
    color: $light-grey
    padding-left: 5px
    padding-right: 5px
    margin: 0 4%
    text-decoration: none

  .active-sub-link, .sub-links:hover, .sub-links:active
    color: $xaxis-blue-color
    border-bottom: 2px solid $xaxis-blue-color
    text-decoration: none

.brand-assets-container
  .section
    padding-top: 30px
    padding-bottom: 40px
    a
      margin-top: 30px
    h1, h3
      margin-bottom: 20px
    h1
      font-size: 2.25em
    h3
      font-size: 1.125em
      font-family: gotham-book
      letter-spacing: 2px

.brand-assets-top-logo
  margin-bottom: 40px
  width: 150px

img ~ .brand-btn-primary, img ~ .brand-btn-secondary
  margin-top: 10px

#assets-tutorial
  ol
    padding-left: 20px
    margin-top: 30px
    li:not(:first-child)
      margin-top: 8px

.bold-accent
  font-family: gotham-book
  font-weight: bold

/* Putting Font Variables for the Brand Pages */

// For all
#assets-fonts
  color: $outer-space

.font-name
  font-family: gotham-medium
  margin-bottom: .4rem

.font-use
  font-family: gotham-light
  font-size: 10px

.list-of-chars
  letter-spacing: 1px
  line-height: 32px

.xaxis-top
  font-family: Arial

.xaxis-bottom
  font-family: gotham-book






/* Sytling Headshots and Overlay Text */
.headshot-container
  margin-bottom: 20px
  margin-top: 20px

.headshot-image
  position: relative
  display: inline-block
  width: 100%
  margin-top: 0 !important

.headshot-image:after
  content: ''
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(24, 24, 24, .5)
  opacity: 0
  -webkit-transition: all 0.5s
  transition: all 0.5s
  text-align: center

.headshot-image:hover:after
  opacity: 1

.headshot-image > .after-text
  position: absolute
  left: 0
  bottom: 0
  right: 0
  top: 0
  color: $xaxis-blue-color
  border: 1px solid $xaxis-blue-color
  text-align: center
  margin: auto
  width: 96%
  height: 25px
  border-radius: 50px
  display: none
  z-index: 3000
  -webkit-transition: all 0.5s
  transition: all 0.5s
  font-size: 12px

.headshot-image:hover > .after-text
  display: block

.headshot-image > img
  margin: 0 auto
  -webkit-filter: grayscale(75%) /* Safari 6.0 - 9.0 */
  filter: grayscale(75%)

.headshot-image > img:hover
  cursor: pointer

.headshot-info > p
  font-size: 10px
  margin-bottom: 5px
  line-height: 14px

.headshot-info > p:first-of-type
  font-family: gotham-book
  margin-bottom: 2px
  margin-top: 8px

.headshot-info > p:nth-child(2)
  min-height: 40px

.headshot-info > span
  font-size: 8px



/***********  Media Q's  ***********/

@media (max-width: 458px)
  #sub-nav
    .sub-links
      padding-left: 10px
      padding-right: 10px
      margin: 0
      text-decoration: none

/*  Tiny  */
@media (min-width:400px)
  #assets-headshots
    .row
      .col-xs-6:nth-child(2n+1)
        clear: both
  .headshot-info > p:nth-child(2)
    min-height: 20px

/*  Medium Desktop  */
@media (min-width:544px)
  #assets-headshots
    .row
      .col-xs-6:nth-child(2n+1)
        clear: none
      .col-sm-4:nth-child(3n+1)
        clear: both


/*  MD and UP */
@media (min-width:768px)
  #assets-headshots
    .row
      .col-xs-6:nth-child(2n+1)
        clear: none
      .col-sm-4:nth-child(3n+1)
        clear: none
      .col-md-4:nth-child(3n+1)
        clear: both
  .headshot-info > p:nth-child(2)
    min-height: 30px

@media (min-width: 992px)
  #assets-headshots
    .row
      .col-xs-6:nth-child(2n+1)
        clear: none
      .col-sm-4:nth-child(3n+1)
        clear: none
      .col-md-4:nth-child(3n+1)
        clear: none
      .col-lg-3:nth-child(4n+1)
        clear: both
  .headshot-info > p:nth-child(2)
    min-height: 40px
