.case-studies-filters.jumbotron
  padding: 2rem
  background-color: $more-lightest-grey
  .form-row-1
    @media(min-width: 543px)
      margin-bottom: 10px
    select
      font-size: 12px
      font-family: 'Gotham-Medium'
      color: $grey-green-thing
      option
        font-size: 12px
        font-family: 'Gotham-Medium'
        color: $grey-green-thing
  .search-button
    width: 100%
    font-size: 1rem
    padding: 6px 12px
.case_study_section_body
  margin-bottom: 60px
  .case_studies_list
    list-style: none
    padding-left: 0
    .case_studies_list-item
      margin: 40px 0
      .case-study-subtitle
        font-size: 9px
        font-family: 'Gotham-Book'
        color: $manatee
        margin-bottom: 10px
      .case-study-title
        font-size: 22px
        font-family: 'Gotham-Medium'
        margin-bottom: 10px
      .case-study-description
        font-size: 12px
        font-family: 'gotham-LightItalic'
        margin-bottom: 10px
      .case-study_links
    .case_studies_list-item:last-of-type
      margin: 40px 0 0 0
  a
    color: $gray
    font-family: 'Gotham-Light'
    font-size: 14px
    margin: 25px auto
