.flex-container
  display: flex
  // The height is required for proper rendering in Safari.
  height: 800px
  flex-direction: row
  .flex-column
    width: calc(100%/3)
    height: inherit
    .flex-sm-item
      height: 33.33%
      padding: 40px
      position: relative
      .grid-content-container
        .svg-img
          max-width: 120%
          display: block
          height: auto
    .flex-lg-item
      height: 66.66%
      padding: 40px
      position: relative
      img
        margin: 0 auto
        display: block

.link-container
  width: 100%
  text-align: center
  margin-bottom: 15px
  position: absolute
  bottom: 0
  left: 0
  .color-grid-btn
    border: 1px solid $white
    border-radius: 100px
    letter-spacing: 2px
    font-size: .8em
    font-family: gotham-medium
    margin: 0 auto

.color-grid-text, .color-grid-text > span, .link-container > a
  color: $white

.color-grid-text
  span
    letter-spacing: 2px

.left-top
  background: $xaxis-light-yellow
.left-bottom
  background: $xaxis-blue-color
.center-top
  background: $xaxis-orange
.center-middle
  background: $xaxis-grey-blue
.center-bottom
  background: $xaxis-light-green
.right-top
  background: $xaxis-lightest-blue
.right-bottom
  background: $xaxis-deep-green

.left-top, .right-top
  .color-grid-text
    color: $black
    span
      color: $black
  .link-container
    .color-grid-btn
      color: $black
      border-color: $black

@media (min-width: 1200px)
  .flex-container
    .flex-column
      .flex-sm-item
        padding-left: 70px
        padding-right: 70px
        padding-top: 40px
        padding-bottom: 40px
      .flex-lg-item
        padding-left: 70px
        padding-right: 70px
        padding-top: 40px
        padding-bottom: 40px

@media (max-width: 999px)
  .flex-container
    flex-direction: column
    height: auto
    .flex-column
      width: 100%
      min-height: 450px

@media (max-width: 767px)
  .flex-container
    .flex-column
      .flex-sm-item
        min-height: 50%
        height: 250px
        position: relative
        .grid-content-container
          margin-bottom: 2%
        .link-container
          position: absolute
          bottom: 0
          left: 0
      .flex-lg-item
        min-height: 50%
        height: 250px
        position: relative
      .content-text-sub
        height: auto
