.flex-container
  display: flex
  // The height is required for proper rendering in Safari.
  height: 600px
  flex-direction: row
  .flex-column
    width: calc(100%/3)
    height: inherit
    .flex-sm-item
      height: 50%
      padding: 40px
      position: relative
    .flex-lg-item
      height: 100%
      padding: 40px
      position: relative

.color-box-container
  .color-box-copy-container
    flex: 1 1 70%
    margin-right: 20px
    max-width: 100%
  .grid-icon-container
    flex: 0 2 23%
    margin: 0 auto
    .grid-icon
      max-height: 100%
  .grid-icon-container--tall
    text-align: center
    max-width: 90px

#grid-box-6
  .color-box-container
    .color-box-copy-container
      max-width: 60%

// Restrictions on how much space the icon can take up.
.large-grid-icon-container
  width: 65%
  margin: 0 auto
  margin-top: 40px
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

// Colors and animations for the buttons.

// white
.color-grid-btn-white
  border: 1px solid white
  color: $white
  min-width: 106px
  box-shadow: inset 0 0 0 0 $white
  -webkit-transistion: all ease 0.8s
  -moz-transition: all ease 0.8s
  transition: all ease 0.8s
  &:active, &:visited
    color: $white
  &:hover
    box-shadow: inset 200px 0 0 0 $white
    color: $xaxis-blue-color

// black
.color-grid-btn-dark
  border: 1px solid $xaxis-darkest-blue
  color: $xaxis-darkest-blue
  min-width: 106px
  box-shadow: inset 0 0 0 0 $xaxis-darkest-blue
  -webkit-transistion: all ease 0.8s
  -moz-transition: all ease 0.8s
  transition: all ease 0.8s
  &:active, &:visited
    color: $xaxis-darkest-blue
  &:hover
    box-shadow: inset 200px 0 0 0 $xaxis-darkest-blue
    color: $white

// Setting basic font size and family.
.color-grid-category-text
  font-size: .7em
  letter-spacing: 2px
  @include Gotham-Book

// Setting specific boxes as white font.
.left-top, .center-top, .left-bottom, .right-bottom
  color: $white

.learning-update_list
  list-style-type: none
  padding-left: 0
  margin-bottom: 0
  li
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-weight: normal
    margin-bottom: 5px
    max-width: 100%

// Set unique style of the update links
.learning-update_link
  color: $white-smoke
  font-size: 12px
  letter-spacing: 1px
  @include Gotham-Book
  padding: 10px 0
  &:link
    text-decoration: underline
    color: $white-smoke
  &:visited
    color: $xaxis-darkest-blue
  &:hover
    color: $xaxis-darkest-blue

// Font sizes for colored box headers.
.sm-item-header
  font-size: 1.5em
  font-weight: bold
  letter-spacing: 1px
.lg-item-header
  font-size: 2.5em
  letter-spacing: 1px
  @include Gotham-Bold

// Added if updates are less than 10 days old.
.new-alert
  color: $onyx
  font-size: .8em

.new-alert-red
  color: $xaxis-red
  margin-bottom: .3rem

// Background colors
.left-top
  background: $xaxis-grey-blue
.left-bottom
  background: $xaxis-deep-green
  background-size: cover !important
  background-repeat: no-repeat
.center-bottom
  background: $footer-border-color
.right-top
  background: $xaxis-lightest-blue
.center-top
  background: $xaxis-blue-color
.right-bottom
  background: $xaxis-yellow

// 1900px and above
@media (min-width: 1900px)
  .color-box-container
    .grid-icon-container--tall
      width: 70%
      max-width: 120px


@media (min-width: 1600px)
  .color-box-container
    .color-box-copy-container
      flex: 1 1 60%
      margin-right: 40px
      max-width: 400px
    .grid-icon-container
      flex: 0 2 33%
      max-width: 200px
      margin: 0 auto
    .grid-icon-container--tall
      max-width: 91px

// 1400px - 1899px
@media (min-width: 1400px) and (max-width: 1899px)
  .color-box-container
    .grid-icon-container--tall
      width: 75%


// 1200px wide and above
@media (min-width: 1300px)
  .flex-container
    .flex-column
      .flex-sm-item
        padding-left: 70px
        padding-right: 70px
        padding-top: 40px
        padding-bottom: 40px
        .grid-icon-container
          margin-left: 0
      .flex-lg-item
        padding-left: 70px
        padding-right: 70px
        padding-top: 40px
        padding-bottom: 40px

// 999px wide and below
@media (max-width: 999px)
  .flex-container
    flex-direction: column
    height: auto
    .flex-column
      width: 100%
  .large-grid-icon-container
    width: calc(75%/2)
    margin-bottom: 40px
  .color-box-container
    .color-box-copy-container
      max-width: 65%

  // .grid-icon-container, .large-grid-icon-container
  //   display: none

// 767px wide and below
@media (max-width: 767px)
  .flex-container
    .flex-column
      .flex-sm-item
        min-height: 50%
        position: relative
        .grid-content-container
          margin-bottom: 2%
      .flex-lg-item
        min-height: 50%
        position: relative
      .content-text-sub
        height: auto
  .link-container
    .color-grid-btn
      width: 50%

@media (min-width: 1000px) and (max-width: 1199px)
  .grid-icon-container
    display: none
  .full-width
    max-width: 100%

  #grid-box-6
    .color-box-container
      .color-box-copy-container
        max-width: 100%

@media (max-width: 767px)
  margin-top: 20px
