.color-category
  font-size: .875em
  @include Gotham-Medium
  margin-top: 50px
  margin-bottom: 15px

.color-card
  border: 1px solid $lightest-grey
  border-radius: 5px
  min-height: 200px
  .color-card-top
    min-height: 130px
  .color-card-bottom
    padding: 15px

.color-card-title, .color-card-text
  line-height: 18px
  text-transform: uppercase


.color-card-title
  @include Gotham-Medium
  padding: 0
  margin: 0
  font-size: .9em
  margin-bottom: 5px
  letter-spacing: 1.75px
  span
    text-transform: lowercase

.color-card-text
  font-size: .7em
  color: $outer-space
  padding: 0
  margin: 0


#dark-blue
  background: $xaxis-grey-blue

#xaxis-blue
  background: $xaxis-blue-color

#baby-blue
  background: $xaxis-lightest-blue

#dark-green
  background: $xaxis-deep-green

#light-green
  background: $xaxis-light-green

#xaxis-orange
  background: $xaxis-orange

#dark-gray
  background: $dark-grey

#reg-gray
  background: $regular-grey

#light-gray
  background: $light-grey

@media (min-width: 845px)
  .top-margin-md
    margin-top: 20px


@media (max-width: 844px)
  .color-card
    margin-top: 10px
    margin-bottom: 10px

@media (min-width: 768px) and (max-width: 1199px)
  .too-long
    font-size: .7em
    font-size: 1vw

  .way-too-long
    font-size: .6em
    font-size: .9vw
@media (min-width: 1200px)
  .way-too-long
    font-size: .7em
    // font-size: .9vw
