.flex-container
  display: flex
  // The height is required for proper rendering in Safari.
  height: 600px
  flex-direction: row
  .flex-column
    width: calc(100%/3)
    height: inherit
    .flex-sm-item
      height: 50%
      padding: 40px
      position: relative
    .flex-lg-item
      height: 100%
      padding: 40px
      position: relative

.grid-icon-container
  margin: 0 auto
  .grid-icon
    max-width: 250px
    max-height: 200px

.large-grid-icon-container
  width: 75%
  margin: 0 auto
  margin-top: 40px
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

.color-grid-btn
  border: 1px solid $xaxis-darkest-blue
  border-radius: 100px
  letter-spacing: 2px
  font-size: .8em
  @include Gotham-Medium
  margin: 0 auto

.color-grid-text, .color-grid-text > span, .link-container > a
  color: $xaxis-darkest-blue

.color-grid-category-text
  font-size: .7em
  letter-spacing: 2px
  @include Gotham-Book
//
// #quick-links
//   margin-top: 20px
//   dd
//     @include Gotham-Book
//     letter-spacing: 1px
//   dt
//     font-weight: normal
//     color: $white
//     overflow: hidden
//     white-space: nowrap
//     text-overflow: ellipsis
//     &:hover
//       color: $primary-color

dt
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.sm-item-header
  font-size: 1.5em
  font-weight: bold
  letter-spacing: 1px

.lg-item-header
  font-size: 2.5em
  letter-spacing: 1px
  @include Gotham-Bold

.new_alert
  color: $xaxis-dark-yellow
  font-size: .8em

.left-top
  background: $xaxis-grey-blue
.left-bottom
  background: $xaxis-deep-green
.center-top
  background: $xaxis-blue-color
.center-bottom
  background: $footer-border-color
.right-top
  background: $xaxis-lightest-blue

#grid-box-3
  background: asset-url('calculator.jpg') no-repeat
  background-size: cover

#grid-box-2
  background-size: cover !important
  background-repeat: no-repeat

.left-top, .center-top, .left-bottom
  .color-grid-text
    color: $white
    span
      color: $white
  .link-container
    .color-grid-btn
      color: $white
      border-color: $white

@media (min-width: 1900px)
  #grid-box-4
    .grid-icon-container
      width: 70%
  .large-grid-icon-container
    width: 50%

@media (min-width: 1400px) and (max-width: 1899px)
  #grid-box-4
    .grid-icon-container
      width: 75%
  .large-grid-icon-container
    width: 60%

@media (min-width: 1200px)
  .flex-container
    .flex-column
      .flex-sm-item
        padding-left: 70px
        padding-right: 70px
        padding-top: 40px
        padding-bottom: 40px
      .flex-lg-item
        padding-left: 70px
        padding-right: 70px
        padding-top: 40px
        padding-bottom: 40px

@media (max-width: 999px)
  .flex-container
    flex-direction: column
    height: auto
    .flex-column
      width: 100%
  .large-grid-icon-container
    width: calc(75%/2)
    margin-bottom: 40px

  .grid-icon-container, .large-grid-icon-container
    display: none

@media (max-width: 767px)
  .flex-container
    .flex-column
      .flex-sm-item
        min-height: 50%
        position: relative
        .grid-content-container
          margin-bottom: 2%
      .flex-lg-item
        min-height: 50%
        position: relative
      .content-text-sub
        height: auto
  .link-container
    .color-grid-btn
      width: 50%
