#feedback-form
  margin-top: 80px
  color: $main-body-font-color
  h1
    color: $xaxis-grey-blue

.feedback-form-container
  textarea
    height: 25vh
  .feedback-btn
    width: 100px
    line-height: inherit

.radio_buttons
  span
    margin: 10px
    label
      input
        margin-right: 5px

.eka-img-container
  .eka-img
    margin-top: 30%

@media (max-width: 991px)
  .eka-img-container
    .eka-img
      margin-top: 50%

@media (max-width: 1199px)
  .eka-img-container
    .eka-img
      margin-top: 45%
