.container-fluid.footer-container
  padding: 0
  font-size: .785em
  position: absolute
  width: 100%
  margin-top: 180px

  footer
    background-color: $splashed-white
    height: 100%
    .footer-nav
      padding: 50px 0
      border-bottom: 1px solid $footer-border-color
      a
        font-size: 10px
        color: $footer-link-color
        &:hover
          color: $xaxis-blue-color
      .footer-column
        line-height: 2
        a
          color: $footer-link-color !important
          &:hover
            color: $xaxis-blue-color !important
        .footer-main-link
          @include Gotham-Bold
          margin-bottom: 0
        .footer-list
          @include Gotham-Book
          list-style: none
          padding-left: 0
          .footer-list-item
            .footer-list-item-link
    .footer-bottom
      margin: 25px 0
