body
  padding-top: 118px

/***********  Navigation ***********/

nav.navbar
  height: 119px
  background: $alternate-white

#navbar-logo
  margin-right: 2em
  padding-top: .8em
  padding-bottom: .6em

.nav
  .nav-link
    text-transform: uppercase
    padding: 40px 15px 19px 15px
    color: $nav-grey !important
    font-size: .8rem
    .fa-search
      color: #C0C0C0
      font-size: 1rem
