
/***********  Event/Announcment/News  ***********/

/***********  General  ***********/

#main-content
  padding-top: 60px
  padding-bottom: 60px

.section-name
  border-bottom: 2px solid $xaxis-blue-color
  margin-bottom: 1.5em
  h1.header
    margin-bottom: 0
    background: $xaxis-blue-color
    display: inline-block
    padding: 8px 12px 3px 12px
    color: $white
    font-family: gotham-book
    font-size: 1em

.content-header, .content-text
  font-family: gotham-book !important

.content-header
  font-size: 1em
  font-weight: bold

.larger-content-header
  font-size: 1.7em
  font-weight: bold

.content-text
  font-size: .8em

.content-text-sub
  color: $dark-grey
  font-size: .7em

/***********  Section Specific  ***********/

.icon-info
  margin-bottom: 1em

#latest-news
  border-bottom: 1px solid $lightest-grey

.single-news-container, .single-announcement-container
  padding-bottom: 5%
  p
    margin-bottom: 0

.single-news-container:not(:first-of-type)
  padding-top: 5%

.single-announcement-container
  padding-top: 5%

.single-announcement-container:nth-of-type(2)
  padding-top: 0

.single-news-container:not(:last-of-type), .single-announcement-container:not(:last-of-type)
  border-bottom: 1px solid $lightest-grey

.single-event-container
  padding: 10px 5px 10px 0
  h1
    margin-top: -12px

#announcements-container, #category-container, #talents-container, #archive-container
  padding-top: 60px

.big_date
  text-align: center
  color: $xaxis-blue-color
  margin-top: -6px
  h1
    font-family: gotham-thin
    letter-spacing: 1.9px
    font-size: 4em
  p
    letter-spacing: 2.5px
    font-size: .8em

.section-container
  .list-group
    a
      color: $nav-grey
      .list-group-item
        padding: 0
        border: 0
        .tag-default
          min-width: 23px
          background-color: $xaxis-yellow
