
/***********  Event/Announcment/News  ***********/

/***********  General  ***********/

#main-content
  padding-top: 60px
  padding-bottom: 60px

.section-name
  border-bottom: 2px solid $xaxis-blue-color
  margin-bottom: 1.5em
  h1.header
    margin-bottom: 0
    background: $xaxis-blue-color
    display: inline-block
    padding: 8px 12px 4px 12px
    color: $white
    @include Gotham-Book
    font-size: 1em

.content-header
  font-size: 1em
  @include Gotham-Medium
  letter-spacing: 1px

.larger-content-header
  font-size: 1.4em
  font-weight: bold
  letter-spacing: 1px

.content-text
  font-size: .8em
  @include Gotham-Book

.content-text-sub
  height: 70px
  display: inline-block
  color: $manatee
  font-size: .7em
  .content-text-sub_inner_text
    position: relative
    top: 50%
    transform: translateY(-50%)
    margin-left: 30px
    color: $manatee
    letter-spacing: 2px

/***********  Section Specific  ***********/

.icon-info
  margin-bottom: 20px
  white-space: nowrap

.circle70
  display: inline-block
  border-radius: 100%
  background-color: $platinum
  width: 70px
  height: 70px
  .circle_text
    position: relative
    top: 50%
    transform: translateY(-50%)
    @include Gotham-Medium
    font-size: 20px
    text-transform: capitalize
    text-align: center
    color: $white

.single-news-container, .single-announcement-container
  padding-top: 5%
  padding-bottom: 5%
  position: relative
  .single-news-text
    padding: 0 5%
  p
    margin-bottom: 0
  &:hover, &.active
    border-right: 5px solid $xaxis-blue-color
    // margin-right: 8px
    background-color: $anti-flash-white
  &.active
    @media(min-width: 767px)
      &:after, &:before
      	right: 100%
      	top: 50%
      	border: solid transparent
      	content: " "
      	height: 0
      	width: 0
      	position: absolute
      	pointer-events: none
      &:after
      	border-right-color: $anti-flash-white
      	border-width: 15px
      	margin-top: -15px
      &:before
      	border-right-color: $anti-flash-white
      	border-width: 15px
      	margin-top: -15px
  &:not(:last-child)
    border-bottom: .5px solid #DFDFDF

.selected-news_content
  .news-title
    color: $xaxis-darkest-blue
    font-size: 20px
    @include Gotham-Medium
    margin-bottom: 20px
  .news-text
    color: $xaxis-darkest-blue
    margin: 20px auto
    font-size: 12px
    font-family: 'gotham-light' !important
    font-style: italic
    position: relative
    text-align: left

.section-container
  .list-group
    a
      color: $nav-black
      .list-group-item
        padding: 0
        border: 0
        .tag-default
          min-width: 23px
          background-color: $xaxis-yellow

.single-news_button
  color: $xaxis-darkest-blue
  font-size: 12px
  letter-spacing: 1.71px
  @include Gotham-Book
  text-transform: uppercase

.single-news_button::after
  font-family: FontAwesome
  content: "\f105"
  border: none
  vertical-align: -5%
  font-size: 18px
  transition: color 1s

.single-news_button:hover::after
    color: $xaxis-blue-color

.more-updates, .readmore
  margin-top: 30px

a
  .fa-lg.fa-angle-right
    vertical-align: -3%
    color: $silver

@media screen and (max-width: 845px)
  #preview-container
    margin-bottom: 20px
