nav.navbar
  background: $alternate-white

#navbar-logo
  margin-right: 2em
  padding-top: .8em
  padding-bottom: .6em

.nav
  .nav-link
    text-transform: uppercase
    padding: 40px 15px 19px 15px
    color: $nav-black !important
    font-size: .7rem
    letter-spacing: 1px
    .fa-search
      color: #C0C0C0
      font-size: 1rem

@media (max-width: 767px)
  nav
    .container
      button
        margin-top: 35px
  #collapse-this-navbar
    margin-top: 0
    text-align: center
    .nav
      padding-top: 107px
      .nav-link
        padding: 10px
