#one_oh_one_series
  background: no-repeat url(asset_path('series_header.jpg'))
  margin-bottom: 80px
  height: 500px
  background-size: cover
  .container
    position: relative
    height: 100%
#one_oh_one_title
  text-align: center
  color: $more-lightest-grey
  @include Gotham-Medium
  position: absolute
  bottom: 10%
  left: 0
  right: 0
  margin: 0 auto
  font-size: 4.57em
.one-oh-one-series-intro
  padding: 0 60px
  margin-bottom: 80px

.image-preview-101
  margin-bottom: 10px
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s
  transition: all .5s
  &:hover
    -moz-transform: scale(1.05)
    -webkit-transform: scale(1.05)
    transform: scale(1.05)

.bubble-text
  vertical-align: top

// FLEX

.flex-col
  display: flex
  flex-flow: row wrap
  justify-content: space-around

.single-101-container
  flex: 1 1 auto
  max-width: 30%
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: center
  margin-bottom: 3rem
  .single-101-buttons
    margin-top: 1rem
    a:last-of-type
      margin-left: 5px

@media (min-width: 544px) and (max-width: 992px)
  .flex-col
    justify-content: space-between
  .single-101-container
    max-width: 45%

@media (max-width: 543px)
  .flex-col
    flex-flow: column nowrap
  .single-101-container
    max-width: 100%

@media (max-width: 1199px)
  #one_oh_one_series
    background: no-repeat fixed url(asset_path('series_header.jpg'))
    height: 280px

@media (max-width: 419px)
  .bubble-text
    float: left
    width: 45%
