#one_oh_one_series
  background: no-repeat url(asset_path('series_header.jpg'))
  margin-bottom: 80px
  height: 500px
  background-size: cover
  .container
    position: relative
    height: 100%
#one_oh_one_title
  text-align: center
  color: $more-lightest-grey
  @include Gotham-Medium
  position: absolute
  bottom: 10%
  left: 0
  right: 0
  margin: 0 auto
  font-size: 4.57em
.one-oh-one-series-intro
  padding: 0 60px
  margin-bottom: 80px

.image-preview-101
  margin-bottom: 10px
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s
  transition: all .5s
  &:hover
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)
    -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)
    -moz-transform: scale(1.05)
    -webkit-transform: scale(1.05)
    transform: scale(1.05)
    //
    // -webkit-box-shadow: 0 5px 20px 0 rgba(72,72,72,0.5)
    // -moz-box-shadow: 0 5px 20px 0 rgba(72,72,72,0.5)
    // box-shadow: 0 5px 20px 0 rgba(72,72,72,0.5)


.single-101-container
  // min-height: 300px
  position: relative
  margin-bottom: 60px

.buttons-101
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  width: 100%

.keep-centered
  a:last-child
    margin-left: 10px

@media (min-width: 544px) and (max-width: 1199px)
  .buttons-101 > a:last-child
    margin-top: 10px

@media (min-width: 992px)
  .one-oh-one-series-row > div:nth-child(3n+1)
    clear: left

@media (min-width:544px) and (max-width: 991px)
  .one-oh-one-series-row > div:nth-child(2n+3)
    clear: left

// @media (max-width: 544px)

@media (max-width: 1199px)
  #one_oh_one_series
    background: no-repeat fixed url(asset_path('series_header.jpg'))
    height: 280px
