/******************  Sub Nav for Platforms  ****************************/

#platform_sub_nav
  display: flex
  flex-direction: row
  background: linear-gradient(165deg, rgba(178, 226, 250,1) 0%, rgba(178, 226, 250,1) 48%, rgba(144, 206, 237, 1) 48.2%, rgba(144, 206, 237, 1) 50%, rgba(117, 184, 224, 1), 50.2%, rgba(117, 184, 224, 1) 100%)
  z-index: 100
  background-size: 100%
  justify-content: space-between
  height: 85vh
  min-height: 300px
  align-items: center
  position: relative
  #spotlight-card, #turbine-card, #xanadu-card
    position: relative
  #spotlight-card
    &:before
      background: linear-gradient(165deg, rgba(69,122,152, 1.0) 0%, rgba(69,122,152,1.0) 74%, rgba(55,107,139,1.0) 74.2%, rgba(55,107,139,1.0) 76%, rgba(46,98,128,1.0) 76.2%, rgba(46,98,128,1.0) 100%)
      content: ''
      opacity: 0
      z-index: 101
      position: absolute
      display:block
      height: 100%
      width: 100%
      top: 0
      left: 0
      -webkit-transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
      transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
    &:hover
      &:before
        opacity: 1
        background: linear-gradient(165deg, rgba(95,148,178, 1.0) 0%, rgba(95,148,178,1.0) 74%, rgba(81, 133, 165, 1.0) 74.2%, rgba(81, 133, 165,1.0) 76%, rgba(72, 124, 154, 1.0) 76.2%, rgba(72, 124, 154,1.0) 100%)
    .active-sub-link
      background: linear-gradient(165deg, rgba(69,122,152, 1.0) 0%, rgba(69,122,152,1.0) 74%, rgba(55,107,139,1.0) 74.2%, rgba(55,107,139,1.0) 76%, rgba(46,98,128,1.0) 76.2%, rgba(46,98,128,1.0) 100%)
      .card-icon
        color: $white
  #turbine-card
    &:before
      background: linear-gradient(165deg, rgba(69,122,152, 1.0) 0%, rgba(69,122,152,1.0) 60%, rgba(55,107,139,1.0) 60.2%, rgba(55,107,139,1.0) 62%, rgba(46,98,128,1.0) 62.2%, rgba(46,98,128,1.0) 100%)
      content: ''
      opacity: 0
      z-index: 101
      position: absolute
      display:block
      height: 100%
      width: 100%
      top: 0
      left: 0
      -webkit-transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
      transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
    &:hover
      &:before
        opacity: 1
        background: linear-gradient(165deg, rgba(95,148,178, 1.0) 0%, rgba(95,148,178,1.0) 60%, rgba(81, 133, 165, 1.0) 60.2%, rgba(81, 133, 165,1.0) 62%, rgba(72, 124, 154, 1.0) 62.2%, rgba(72, 124, 154,1.0) 100%)
    .active-sub-link
      background: linear-gradient(165deg, rgba(69,122,152, 1.0) 0%, rgba(69,122,152,1.0) 60%, rgba(55,107,139,1.0) 60.2%, rgba(55,107,139,1.0) 62%, rgba(46,98,128,1.0) 62.2%, rgba(46,98,128,1.0) 100%)
      .card-icon
        color: $white
  #xanadu-card
    &:before
      background: linear-gradient(165deg, rgba(69,122,152, 1.0) 0%, rgba(69,122,152,1.0) 46%, rgba(55,107,139,1.0) 46.2%, rgba(55,107,139,1.0) 48%, rgba(46,98,128,1.0) 48.2%, rgba(46,98,128,1.0) 100%)
      content: ''
      opacity: 0
      z-index: 101
      position: absolute
      display:block
      height: 100%
      width: 100%
      top: 0
      left: 0
      -webkit-transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
      transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
    &:hover
      &:before
        opacity: 1
        background: linear-gradient(165deg, rgba(95,148,178, 1.0) 0%, rgba(95,148,178,1.0) 46%, rgba(81, 133, 165, 1.0) 46.2%, rgba(81, 133, 165,1.0) 48%, rgba(72, 124, 154, 1.0) 48.2%, rgba(72, 124, 154,1.0) 100%)
    .active-sub-link
      background: linear-gradient(165deg, rgba(69,122,152, 1.0) 0%, rgba(69,122,152,1.0) 46%, rgba(55,107,139,1.0) 46.2%, rgba(55,107,139,1.0) 48%, rgba(46,98,128,1.0) 48.2%, rgba(46,98,128,1.0) 100%)
      .card-icon
        color: $white
  .container
    .row
      #side-nav
        margin-top: 25px
.nav-card
  flex: 1 0 0
  width: 100%
  min-height: 100%
  align-self: stretch
  .card-link
    -webkit-transition: all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
    transition: all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
    z-index: 103
    padding: 60px 0
    &:link, &:active
      color: $white
    &:hover .card-icon
      color: $white
    .card-icon, .card-icon:visited
      color: $xaxis-darkest-blue
      z-index: 103
      &:link, &:hover, &:active
        color: white
  .flex-container-nav
    display: flex
    flex-flow: column nowrap
    min-height: 100%
    justify-content: space-around
    // height: 586px
    h2
      font-size: 1.625rem
      z-index: 103
      @include Gotham-Book
      letter-spacing: 4.33px
      margin-top: -53px
    img
      flex: 1 1 auto
      margin-top: 10px
      margin-bottom: 10px
      width: 200px
      margin: 0 auto
      z-index: 103

#platforms_wrapper
  margin-top: 80px

.platform-assets-container
  .section
    .main-download-btn
      margin-top: 30px
    h1
      margin-bottom: 20px
      font-size: 2.25em
.section-title
  font-size: 2em
  @include Gotham-Book
  margin-bottom: 30px

.platform-asset-hr
  margin-top: 80px
  margin-bottom: 80px

.reduce-hr-top
  margin-top: 40px

#platform_casestudy
  .case_study_section_body
    margin-bottom: 0

/************************  Cards and Overlay ***********************/

.platform-card
  margin-bottom: 40px

.platform-preview-image
  position: relative
  .card-img-overlay
    display: none
    flex-direction: column
    justify-content: center
    align-items: center
    background: rgba($darkest-gray, .7)
    .platform-overlay-link
      display: inline-block
      margin: 0
      border: 3px solid $xaxis-blue-color
      border-radius: 100px
      min-width: 110px
      color: $xaxis-blue-color
      @include Gotham-Book
      padding: 5px 10px
.platform-card-text
  @include Gotham-Light
  p
    margin: 5px 0
  a
    color: $silver
    @include Gotham-Medium
    font-size: .625em
    &:hover, &:active
      color: $xaxis-blue-color

#video-embed
  iframe
    width: 100%

/*---------------------------- Arrow    ----------------

/* icon: https://fortawesome.github.io/Font-Awesome/icons/
/* Animation: https://daneden.github.io/animate.css/

.arrow-container
  width: 75px
  height: 75px
  margin: 0 auto
  position: absolute
  bottom: 0
  left: 46.5%
  transform: translateX(-50%) translateY(-50%)
  z-index: 1000

.arrow-1
  width: 75px
  height: 75px
  background: #00AFEF
  opacity: 0.5
  border-radius: 50%
  position: absolute

.arrow-2
  width: 40px
  height: 40px
  background: #00AFEF
  border-radius: 50%
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  z-index: 1
  display: table
  &:before
    width: 85%
    height: 85%
    content: ""
    border: 2px solid #006064
    border-radius: 50%
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
  i.fa
    font-size: 30px
    display: table-cell
    vertical-align: middle
    text-align: center
    color: #006064

/* Custom Animate.css

.animated.hinge
  -webkit-animation-duration: 2s
  animation-duration: 2s

@-webkit-keyframes zoomIn
  0%
    opacity: 0
    -webkit-transform: scale3d(0.4, 0.4, 0.4)
    transform: scale3d(0.4, 0.4, 0.4)

  50%
    opacity: 0.5

  100%
    opacity: 0


@keyframes zoomIn
  0%
    opacity: 0
    -webkit-transform: scale3d(0.4, 0.4, 0.4)
    transform: scale3d(0.4, 0.4, 0.4)

  50%
    opacity: 0.5

  100%
    opacity: 0


.zoomIn
  -webkit-animation-name: zoomIn
  animation-name: zoomIn


@media only screen and (max-width: 991px)
  .nav-card
    .flex-container-nav
    img
      width: 75%
      margin: 0 auto

@media only screen and (max-width: 729px)
  #platform_sub_nav
    background: $xaxis-lightest-blue
    flex-direction: column
    min-height: 583px
  .nav-card
    height: 200px
    .card-link
      padding: 0
      height: 100%
    .flex-container-nav
    img
      display: none
    h2
      margin-top: 0
  .nav-card:nth-child(2)
    border-bottom: 1px solid $white
    border-top: 1px solid $white
