.posts.index
  #posts-index
    margin-top: 80px
    .sidebar
      .section-container
        .header
          @include Gotham-Medium
          color: $gray
          font-size: 13px
  .sidebar-list
    list-style: none
    padding-left: 0
    .sidebar-list-item
      a
        @include Gotham-Light
        color: $gray
        font-size: 11px
        &:hover
          color: $xaxis-blue-color
        &:visited
          color: $gray
        &:active
          color: $gray
#news-container.section-container
  .section-name#news-section
    .header
  .news-articles-list
    list-style: none
    padding-left: 0
    .news-articles-list-item
      height: 100%
      border-bottom: 1px solid $light-grey
      margin-bottom: 24px
      padding: 0
      border-left: 0
      border-top: 0
      border-right: 0
      .row
        margin-left: 0
        margin-right: 0
        .news-article-date
          float: left
          width: 17%
          margin-top: 22px
          text-align: center
          .news-article-date_day
            display: inline-block
            font-size: 4.5em
            @include Gotham-Thin
            color: $xaxis-navy-blue
            height: 100%
            width: 100%
          .news-article-date_month_year
            display: inline-block
            @include Gotham-Light
            font-size: 11px
            color: $xaxis-navy-blue
            height: 100%
            width: 100%
  .news-article-content
    float: left
    width: 77%
    margin-left: 8px
    .news-article-tags
      @include Gotham-Book
      font-size: 9px
      height: 100%
      color: $manatee
      margin-bottom: 4px
      a
        @include Gotham-Book
        font-size: 9px
        height: 100%
        color: $manatee
        margin-bottom: 4px
        &:hover
          color: $xaxis-blue-color
        &:active, &:visited
          color: $manatee
    .news-article-title
      margin-bottom: 4px
      font-size: 22px
      a
        padding:
        color: $xaxis-darkest-blue
        @include Gotham-Medium
        &:hover
          color: $xaxis-blue-color
        &:active
          color: $xaxis-blue-color
        &:visited
          color: $xaxis-darkest-blue
    .news-article-text
      @include Gotham-Light-Italic
      font-size: 12px
      color: $xaxis-darkest-blue

#news-section
  a
    margin-left: -5px
    @include Gotham-Book
    color: $xaxis-blue-color
    padding: 6px
    border-right: 2px solid $xaxis-blue-color
    border-top: 2px solid $xaxis-blue-color

.current.asc::after
  font-family: FontAwesome
  content: "\f077"
  border: none
  vertical-align: baseline
  margin-left: .6em
  opacity: .5

.current.desc::after
  font-family: FontAwesome
  content: "\f078"
  border: none
  vertical-align: baseline
  margin-left: .6em
  opacity: .5

.posts.show
  .post-container
    margin-top: 80px
    .news-article
      margin-bottom: 80px
      .tag_list
        @include Gotham-Book
        font-size: 9px
        color: $manatee
        margin-bottom: 15px
      .article-title
        @include Gotham-Medium
        font-size: 24px
        color: $xaxis-darkest-blue
        margin-bottom: 10px
        margin-top: 20px
      .news-contributor
        @include Gotham-Book-Italic
        font-size: 10px
        color: $redishblack
        margin: 10px 0 20px 0
      .news-text
        @include Gotham-Light
        font-size: 14px
        color: $xaxis-darkest-blue
        line-height: 22px
      .news-image
        width: 100%
  .related-news
.news-sidebar
  .sidebar-header
    border-bottom: 2px solid $xaxis-blue-color
    .sidebar-header-title
      text-align: center
      min-width: 50%
      margin-bottom: 0
      background: $xaxis-blue-color
      display: inline-block
      padding: 8px 12px 3px 12px
      color: $white
      @include Gotham-Medium
      font-size: 14px
      text-transform: uppercase
  .sidebar-list
    padding-left: 0
    list-style-type: none
    .sidebar-list-item
      @include Gotham-Light
      font-size: 11px
      margin-top: 5px
      a
        color: $gray
        &:visited
          color: $gray

        &:hover, &:active
          color: $xaxis-blue-color

.share-btn
  background: $dim-gray
  color: $white
  border-radius: 100px
  margin-right: 10px
  -webkit-clip-path: circle(34% at 50% 50%)
  clip-path: circle(34% at 50% 50%)
  width: 49px
  height: auto
  padding: 13px
  &:hover
    background: $xaxis-blue-color

.share-btn-facebook
  width: 43px
  padding: 15px


@media (max-width: 767px)
  #news-container.section-container
    .section-name#news-section
      .header
    .news-articles-list
      .news-articles-list-item
        .row
          .news-article-date
            .news-article-date_day
              font-size: 3.8em
          .news-article-content
            margin-left: 12px



                  // .sidebar
                  //   .section-container
                  //     .header.text-uppercase
                  //       Categories
                  //     %ul.sidebar-list.categories-list
                  //       - @all_tags.each do |tag|
                  //         %li.sidebar-list-item.categories-list-item
                  //           =link_to tag, tag_path(tag.downcase)
