.posts.show
  .post-container
    margin-top: 80px
    .news-article
      margin-bottom: 80px
      .tag_list
        font-family: 'Gotham-Book'
        font-size: 9px
        color: $manatee
        margin-bottom: 15px
      .article-title
        font-family: 'Gotham-Medium'
        font-size: 24px
        color: $xaxis-darkest-blue
        margin-bottom: 15px
      .social-share-buttons
        .facebook-social

        .twitter-social

        .youtube-social

      .news-contributor
        font-family: 'Gotham-BookItalic'
        font-size: 10px
        color: $redishblack
      .news-text
        font-family: 'Gotham-Light'
        font-size: 14px
        color: $xaxis-darkest-blue
      .news-image
        width: 100%
  .related-news
  .news-sidebar
    .sidebar-header
      border-bottom: 2px solid $xaxis-blue-color
      .sidebar-header-title
        text-align: center
        min-width: 50%
        margin-bottom: 0
        background: $xaxis-blue-color
        display: inline-block
        padding: 8px 12px 3px 12px
        color: $white
        font-family: 'Gotham-Medium'
        font-size: 14px
    .sidebar-list
      padding-left: 0
      list-style-type: none
      .sidebar-list-item
        font-family: 'Gotham-Light'
        font-size: 11px
        a
          color: $gray
          &:visited
            color: $gray

          &:hover, &:active
            color: $xaxis-blue-color 
