#presentation_hub
  text-align: center
  margin-top: -7px
  section
    padding-top: 80px
    padding-bottom: 80px
    h1
      @include Gotham-Book
      color: $xaxis-grey-blue
      font-size: 2.57em
  .top-section
    background-color: $light-grey-bg
    .row
      margin-top:  80px
      .card
        border-radius: 5px
        background-color: $alternate-white
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12)
        padding: 25px 25px 0 25px
        min-height: 420px
        transition: min-height 1s
        h2
          font-size: 1.29em
          @include Gotham-Book
          margin-bottom: 20px
          letter-spacing: 2px
          min-height: 32px
        .card-btn
          min-width: 120px
          width: 100%
        a:nth-of-type(1n+0)
          margin-bottom: 10px
        .hr-faker
          width: 30%
          margin: 0 auto
          border-bottom: .5px solid $lightest-grey
          margin-top: 21px
          margin-bottom: 19px
  .middle-section
    background-color: $alternate-white
    .more-resources
      min-height: 470px
      position: relative
      img
        margin: 0 auto
      h2
        font-size: 22px
        @include Gotham-Book
        margin-top: 20px
        margin-bottom: 20px
      p
        padding: 0 2%
      .middle-section-button
        min-width: 120px
        position: absolute
        bottom: 10px
        left: 50%
        margin-left: -60px
  .bottom-section
    background-color: $xaxis-blue-color
    margin-bottom: -180px
    h2
      color: $white
      margin-bottom: 35px
      font-size: 2em
      @include Gotham-Thin
      letter-spacing: 2px

p.brand-btn-primary
  margin-bottom: 10px

.xaxis-card
  border-top: 5px solid $xaxis-blue-color
  h2
    color: $xaxis-blue-color

.light-reaction-card
  border-top: 5px solid $light-reaction-yellow-color
  h2
    color: $light-reaction-yellow-color

.plista-card
  border-top: 5px solid $plista-green-color
  h2
    color: $plista-green-color

.triad-card
  border-top: 5px solid $triad-blue-color
  h2
    color: $triad-blue-color

.presentation_hub
  .container-fluid.footer-container
    bottom: inherit

@media (min-width: 992px) and (max-width: 1199px)
  #presentation_hub
    section
    .top-section
      .row
        .card
          min-height: 448px
          h2
            min-height: 38px

@media (min-width: 768px) and (max-width: 991px)
  #presentation_hub
    section
    .top-section
      .row
        .card
          min-height: 420px

@media (max-width: 991px)
  .middle-section
    .container
      .row
        .more-resources
          button
            position: static
            margin-left: inherit
            margin-bottom: 30px

@media (max-width: 767px)
  .plista-card-lower-text
    margin-bottom: initial

  .restrict-plista
    display: inline-block
    font-size: .8em
    padding: 8px 14px
  #presentation_hub
    section
    .top-section
      .row
        .card
          min-height: 340px
          padding: 25px 25px 20px 25px
