// CSS Rules for Smart Kapp

#smart_kapp_container
  margin-top: 10px

#smart_kapp_header
  background: #821b8e ; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #821b8e 0%, #205dc2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #821b8e 0%,#205dc2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #821b8e 0%,#205dc2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#821b8e ', endColorstr='#205dc2 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
