.row
  - @headshots.ordered_by_priority.each do |hs|
    .col-lg-3.col-md-4.col-sm-4.col-xs-6
      .headshot-container
        = link_to hs.image.url, class: "headshot-image" do
          = image_tag hs.image.url(:thumb), class: "img-fluid img-fluid-width"
          %span.after-text.text-uppercase View Image
        .text-xs-center.headshot-info
          %p.font-weight-bold= hs.full_name
          %p= hs.title
          %span.fa.fa-download
          %span
            =link_to "Original", hs.image_url, type: "image/jpeg", download: hs.full_name
          %span
            |
          %span
            =link_to "1024x768", hs.image_url(:large), type: "image/jpeg", download: hs.full_name
