%ol
  %li Select the image
  %li
    Go to the
    %span.bold-accent Picture Format
    tab (it will appear once you click the image)
  %li
    Click
    %span.bold-accent Compress Pictures
  %li
    Choose a
    %span.bold-accent Picture Quality
    (we recommend 150ppi for on-screen; but use 330ppi in case the powerpoint is presented on a large projector).
