.col-md-2.hidden-sm-down
  #side-nav
    %ul.nav#brand-asset-links
      %li.nav-item
        .text-uppercase Brand assets
      %li.nav-item
        =link_to "Brand Guidelines", "#assets-welcome", class: "side-nav-link smooth-scroll", id: "brand-guidelines-link"
      %li.nav-item
        =link_to "Logos", "#assets-logo", class: "side-nav-link smooth-scroll", id: "brand-logos-link"
      %li.nav-item
        =link_to "Colors Palettes", "#assets-color-palette", class: "side-nav-link smooth-scroll", id: "brand-colors-link"
      %li.nav-item
        =link_to "Fonts", "#assets-fonts", class: "side-nav-link smooth-scroll", id: "brand-fonts-link"
      %li.nav-item
        =link_to "Images", "#assets-images", class: "side-nav-link smooth-scroll", id: "brand-images-link"
    %ul.nav#brand-template-links
      %li.nav-item
        .text-uppercase Brand templates
      -if @brand.slug != "triad"
        %li.nav-item
          =link_to "Powerpoint Template", "#assets-ppt", class: "side-nav-link smooth-scroll", id: "brand-ppt-link"
        %li.nav-item
          =link_to "Word Template", "#assets-word", class: "side-nav-link smooth-scroll", id: "brand-word-link"
        %li.nav-item
          =link_to "Fast Facts", "#assets-facts", class: "side-nav-link smooth-scroll", id: "brand-facts-link"
      %li.nav-item
        =link_to "Global Capability Deck", "#assets-capability", class: "side-nav-link smooth-scroll", id: "brand-cred-link"
      %li.nav-item
        =link_to "Executive Headshots", "#assets-headshots", class: "side-nav-link smooth-scroll", id: "brand-hs-link"
