.side-nav.hidden-sm-down
  %ul.nav#brand-assets
    %li.nav-item
      .text-uppercase Brand assets
    %li.nav-item
      =link_to "Brand Guidelines", "###", class: "side-nav-link", id: "brand-guidelines-link"
    %li.nav-item
      =link_to "Logos", "###", class: "side-nav-link", id: "brand-logos-link"
    %li.nav-item
      =link_to "Colors Palettes", "###", class: "side-nav-link", id: "brand-colors-link"
    %li.nav-item
      =link_to "Fonts", "###", class: "side-nav-link", id: "brand-fonts-link"
    %li.nav-item
      =link_to "Images", "###", class: "side-nav-link", id: "brand-images-link"
  %ul.nav#brand-templates
    %li.nav-item
      .text-uppercase Brand templates
    %li.nav-item
      =link_to "Powerpoint Template", "###", class: "side-nav-link", id: "brand-ppt-link"
    %li.nav-item
      =link_to "Word Template", "###", class: "side-nav-link", id: "brand-word-link"
    %li.nav-item
      =link_to "Fast Facts", "###", class: "side-nav-link", id: "brand-facts-link"
    %li.nav-item
      =link_to "Global Cred Deck", "###", class: "side-nav-link", id: "brand-cred-link"
    %li.nav-item
      =link_to "Executive Headshots", "###", class: "side-nav-link", id: "brand-hs-link"
