.col-md-2.hidden-sm-down
  #side-nav
    %ul.nav.flex-column#brand-asset-links
      %li.nav-item
        .text-uppercase Marketing Materials
      %li.nav-item
        =link_to "Manifesto", "#assets-welcome", class: "side-nav-link smooth-scroll", id: "brand-manifesto-link"
      %li.nav-item
        =link_to "Fast Facts", "#assets-facts", class: "side-nav-link smooth-scroll", id: "brand-facts-link"
    %ul.nav.flex-column#brand-template-links
      %li.nav-item
        .text-uppercase Creative Assets
      %li.nav-item
        =link_to "Logo", "#assets-logo", class: "side-nav-link smooth-scroll", id: "brand-logo-link"
      %li.nav-item
        =link_to "Videos", "#assets-video", class: "side-nav-link smooth-scroll", id: "brand-video-link"
      %li.nav-item
        =link_to "Newsletter Header", "#assets-header", class: "side-nav-link smooth-scroll", id: "brand-header-link"
      %li.nav-item
        =link_to "Rollup Banners", "#assets-rollup", class: "side-nav-link smooth-scroll", id: "brand-rollup-link"
      %li.nav-item
        =link_to "Stickers", "#assets-sticker", class: "side-nav-link smooth-scroll", id: "brand-sticker-link"
