=render partial: "side_nav"
.container#brands
  .sub-nav-section.text-xs-center
    %nav.nav.nav-inline
      - @brands.each do |brand|
        = link_to brand.name, brand_path(brand.id), class: "nav-item sub-links"
  = render partial: "xaxis_materials"
