- title @brand.name
.container#brands
  .sub-nav-section.text-xs-center
    %nav#sub-nav.nav.nav-inline
      - @brands.each do |brand|
        = link_to brand.name, brand_path(brand.slug), class: "nav-item sub-links #{is_at_end_path(brand.slug.to_s)}"
  .row
    = render partial: "side_nav_brands"
    = render partial: "brand", brand: @brand
