%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content=> "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
  %title
    Xaxis Internal | #{ content_for?(:title) ? yield(:title) : "Everything You Need"}
  %link{:href => "/favicons/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
  %link{:href => "/favicons/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
  %link{:href => "/favicons/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
  %link{:href => "/favicons/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
  %link{:href => "/favicons/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %link{:href => "/favicons/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
  %link{:href => "/favicons/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
  %link{:href => "/favicons/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
  %link{:href => "/favicons/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
  %link{:href => "/favicons/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
  %link{:href => "/favicons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
  %link{:href => "/favicons/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
  %link{:href => "/favicons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
  %link{:href => "/favicons/manifest.json", :rel => "manifest"}/
  %link{:rel => "stylesheet", :href => "//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css"}/
  %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
  %meta{:content => "/favicons/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
  %meta{:content => "#ffffff", :name => "theme-color"}/
  -# OG for facebook
  %meta{:content => "https://xaxis-internal.herokuapp.com/", :property => "og:url"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "Interal Xaxis", :property => "og:title"}/
  %meta{:content => "A site for Xaxis Employees", :property => "og:description"}/
  %meta{:content => image_path("Xaxis_Logo_Pos_Vert.png"), :property => "og:image"}/
  = csrf_meta_tags
  -if @post
    %meta{ name: 'twitter:title', content: @post.title }
    %meta{ name: 'twitter:description', content: @post.text }
    %meta{ name: 'twitter:image', content: @post.image_url }
    %meta{ property: 'og:title', content: @post.title }
    %meta{ property: 'og:description', content: @post.text }
    %meta{ property: 'og:url', content: post_url(@post) }
    %meta{ property: 'og:image', content: @post.image.url }

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  -if @css_files_overwrite
    = stylesheet_link_tag @css_files_overwrite, media: 'all', 'data-turbolinks-track': 'reload'
