%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  .container
    %button.navbar-toggler.hidden-md-up{"aria-controls" => "collapse-this-navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#collapse-this-navbar", "data-toggle" => "collapse", :type => "button"}
      ☰
    =link_to root_path, class: "navbar-brand pull-xs-left" do
      =image_tag asset_path('Xaxis_Logo_Pos_Vert.png'), id: "navbar-logo"
    #collapse-this-navbar.collapse.navbar-toggleable-sm
      .nav.navbar-nav
        - if @bring_me_to_xaxis.present?
          =link_to "Brand Assets", brand_path(@bring_me_to_xaxis), class: "nav-item nav-link"
        =link_to "Presentation Hub", presentation_hub_path, class: "nav-item nav-link"
        =link_to "Platforms", "###", class: "nav-item nav-link"
        =link_to "###", id: "search-button", class: "nav-item nav-link pull-md-right" do
          %span.fa.fa-search
